@import url("https://fonts.googleapis.com/css2?family=Orbitron&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter&family=Orbitron&display=swap");

.filter {
  background: linear-gradient(
    rgba(1, 2, 8, 1),
    rgba(1, 2, 6, 1),
    rgba(4, 0, 8, 1),
    rgba(1, 1, 1, 1),
    rgba(1, 1, 1, 1),
    rgba(1, 1, 1, 1),
    rgba(1, 1, 1, 1)
  );
}

.filter__wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 25px;
  margin-bottom: 25px;
}

.filter__logo h3 {
  width: 100%;
  max-width: 102px;
  font-family: "Orbitron";
  font-style: normal;
  font-weight: 900;
  font-size: 17.0986px;
  line-height: 27px;
  color: #ffffff;
}

.filter__search {
  display: flex;
  align-items: center;
  gap: 20px;
}

.filter__search-btn {
  display: flex;
  padding: 12px 9px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 11px;
  line-height: 13px;
  color: #fff;
  background: linear-gradient(rgba(188, 60, 216, 1), rgba(197, 75, 140, 1));
  border-radius: 4px;
  border: none;
  cursor: pointer;
}

.filter__search-btn:hover {
  background: linear-gradient(rgb(192, 51, 223), rgb(185, 53, 123));
}

.filter__search select {
  display: flex;
  align-items: center;
  padding-left: 9px;
  appearance: none;
  outline: 0;
  box-shadow: none;
  border: 1px solid #5a5b6a;
  border-radius: 4px;
  background: linear-gradient(
    180deg,
    #010208 16.39%,
    #010206 20.51%,
    #040008 24.79%,
    #010101 30.46%,
    #010101 34.11%,
    #010101 36.21%,
    #010101 100%
  );
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 143%;
  letter-spacing: 0.018em;
  width: 100px;
  max-width: 97px;
  color: #ffffff;
  height: 36px;
  cursor: pointer;
}

.filter__search-box {
  position: relative;
}

.filter__search-box-arrow {
  position: absolute;
  display: block;
  top: 1px;
  right: 1px;
  /* background: red; */
  background: linear-gradient(
    180deg,
    #010208 16.39%,
    #010206 20.51%,
    #040008 24.79%,
    #010101 30.46%,
    #010101 34.11%,
    #010101 36.21%,
    #010101 100%
  );
  height: 32px;
  width: 1rem;
  border: 1px solid;
  border-radius: 4px;
  pointer-events: none;
}

.filter__search-box-arrow::before,
.filter__search-box-arrow::after {
  position: absolute;
  content: "";
  width: 0;
  height: 0;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.filter__search-box-arrow::before {
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  border-right: 5px solid #fff;
}

.filter__search-box-arrow:hover::before {
  transform: rotate(-45deg);
}

/* .filter__search-box-arrow::after{
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid transparent;
} 

.filter__search-box-arrow:active:after{
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid #fff;
}  */

.filter__search-option {
  display: flex;
  align-items: center;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 143%;
  letter-spacing: 0.018em;
  color: #ffffff;
  background: rgba(1, 2, 8, 1);
  cursor: pointer;
  box-shadow: 1px 1px 1px grey;
  outline: 0;
}
