<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="../../../Assets/styles/reset.css">
    <link rel="stylesheet" href="video.css" />
    <link href="https://fonts.googleapis.com/css2?family=Orbitron&display=swap" rel="stylesheet"/>
  </head>
  <body>
    <section class="video">
      <div class="video__content">
        <h3 class="video__content-headline">Awesome experiences with
          virtual reality world
        </h3>
        <img class="video__content-img" src="./SRC/Assets/icons/video.svg" alt="video">
      </div>
    </section>
  </body>
</html>

