<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./Users.css">
    <link rel="stylesheet" href="./reset.css">
    <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
</head>
<body>
    <div class="container">
      
      <div class="header__radius"></div>
      <header class="header">
        <a href="../../../../index.html"><img class="header__logo" src="../../../Assets/icons/logo.svg" alt="logo"/></a>
        <div class="header__nav">
          <div class="header__nav-wrap">
            <ul class="header__links">
              <li class="header__link"><a href="../../../../index.html">Home</a></li>
              <li class="header__link"><a href="../index.html">Games</a></li>
              <li class="header__link"><a href="./Users.html">Users</a></li>
            </ul>
          </div>  
          <div class="header__nav-wrap-btn">
            <button class="header__nav-btn" type="submit">Sign In</button>
            <div class="authed__header">
              <button class="authed__header__nav-btn">
                <img
                src="../../../Assets/icons/user-icon.svg"
                alt="user-icon"
              />
              </button>
                <div class="authed__header__nav-menu-wrap hidden">
                  <button class="authed__header__nav-menu-btn"><p>My Profile</p></button>
                  <button class="authed__header__nav-menu-btn log-out-btn"><p>Log Out</p></button>
                  <div class="authed__header__nav-arrow"></div>
              </div>
            </div>
          </div>
        </div>
        <div class="header__nav-mobile">
          <ul class="header__links">
            <li class="header__link"><a href="../../../../index.html">Home</a></li>
            <li class="header__link"><a href="../index.html">Games</a></li>
            <li class="header__link"><a href="./Users.html">Users</a></li>
            <li> <button class="header__nav-btn" type="submit">Sign In</button></li>
          </ul>
        </div> 
        <button onclick="toggleNavigBtn()" class="header__nav-small"></button>
        <div class="background-blur hidden-background-blur"></div>
        <div class="sign-in modal hidden">
          <div class="sign-in__wrap">
            <div class="sign-in__headline">
              <h3>Authorization</h3>
            </div>
            <div class="sign-in__inputs">
              <form action="">
                <input id="sign-in-email" class="sign-in__form-inpt" type="email" placeholder="Email" />
                <input id="sign-in-password" class="sign-in__form-inpt" type="password" placeholder="Password" />
            </form>
            <button class="sign-in__form-btn">Sign In</button>
            </div>
          </div>
        </div>
      </header>

        <main>
            <section class="users">
                <div class="users__filter">
                    <div class="users__filter__wrap">
                      <div class="users__filter__logo-wrap">
                        <div class="users__filter__logo">
                          <h3>VR Users</h3>
                        </div>
                      </div>
                      <div class="users__filter__search">
                      <div class="users__filter__search-box">
                        <select id="select" class="users__filter__search-select">
                          <option class="users__filter__search-option" value="default" Selected disabled>Sort By Role</option>
                          <option class="users__filter__search-option" vlaue="admin">admin</option>
                          <option class="users__filter__search-option" vlaue="moderator">moderator</option>
                          <option class="users__filter__search-option" vlaue="user">user</option>
                        </select>
                        <span class="users__filter__search-box-arrow"></span>
                      </div>
                      <button type="submit" class="reset-button"><img class="reset-btn" src="../../../Assets/images/reset.png" alt="reset"></button>
                      </div>
                    </div>
                </div>
                <div class="users__datas">
                  <div class="users__datas-wrap">
                    <table class="users__datas-table">
                      <tbody>
                          <tr>
                              <th>Avatar</th>
                              <th>Name</th>
                              <th>Country</th>
                              <th>Age</th>
                              <th>Email</th>
                              <th>Role</th>
                              <th>Actions</th>
                          </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
            </section>
            
            <section class="pagination">
                <div class="pagination__list">
                  <ul>
                    <li data-page="min" class="pagination__list-btn"><button><img src="../../../Assets/icons/arrowLeft.svg" alt="" /></button></li>
                    <li data-page="1" class="pagination__list-btn pagination__list-btn--active"><button>1</button></li>
                    <li data-page="2" class="pagination__list-btn"><button>2</button></li>
                    <li data-page="mid" class="pagination__list-btn"><button><img src="../../../Assets/icons/num.svg" alt=""></button></li>
                    <li data-page="9"class="pagination__list-btn"><button>9</button></li>
                    <li data-page="10" class="pagination__list-btn"><button>10</button></li>
                    <li data-page="max" class="pagination__list-btn"><button><img src="../../../Assets/icons/arrowRight.svg" alt=""></button></li>
                  </ul>
                </div>
            </section>
        </main>

        <footer class="footer">
            <div class="footer__wrap">
              <div class="footer__headline">
                <h3>Explore product in new way</h3>
                <p>
                  We specialize in creating visual identities for products and
                  branda in your company.
                </p>
              </div>
              <div class="footer__search">
                <input class="footer__search__enter-box" type="email" placeholder="Your Email"/>
                <button class="footer__search__btn" type="submit"> Start </button>
              </div>
            </div>
          </footer>
    </div>
    <script src="./Users.js"></script>
    <script type="module" src="../../../scripts/dialogSignInDatas.js"></script>
    <script type="module" src="../../../scripts/signIn.js"></script>
    <script type="module" src="../../../scripts/dialogSignInDatas.js"></script>
    <script type="module" src="../../../scripts/usersRoleModal.js"></script>
    <script type="module" src="../../../scripts/paginationList.js"></script>
    <script type="module" src="../../../scripts/footerSearch.js"></script>
    <script type="module" src="../../../scripts/authedHeader.js"></script>
    <script type="module" src="../../../mocks/users.js"></script>
    <script type="module" src="../../../scripts/usersData.js"></script>
    <script type="module" src="../../../scripts/headerSticky.js"></script>
</body>
</html>