*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  background: rgba(14, 14, 14, 1);
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

:root {
  --perfect-white: #fff;
}

.container {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  max-width: 1312px;
  padding-bottom: 24px;
  padding-left: 16px;
  padding-right: 16px;
  font-family: "Poppins";
  font-style: normal;
}

/* modal */

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 100;
}

/* sign in */
.sign-in {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  padding: 16px;
  width: 100%;
  max-width: 560px;
  background: #0e0e0e;
  border-radius: 6px;
  gap: 14px;
}

.sign-in__wrap {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 560px;
  gap: 14px;
}

.sign-in__headline {
  width: 100%;
  max-width: 560px;
  height: 64px;
  background: rgba(83, 70, 134, 1);
  border: 0px solid transparent;
  border-radius: 0px 64px 0px 0px;
}

.sign-in__headline h3 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 21px;
  line-height: 32px;
  padding-top: 16px;
  padding-bottom: 16px;
  padding-left: 16px;
  color: #fff;
}

.sign-in__wrap form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 16px;
  width: 100%;
  gap: 16px;
}

.sign-in__inputs {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sign-in__form-inpt {
  padding-top: 18px;
  padding-bottom: 18px;
  padding-left: 32px;
  width: 522px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 27px;
  color: #fff;
  background: #000000;
  border: 2px solid #c8d1e6;
  border-radius: 5px;
}

.sign-in__form-btn {
  display: flex;
  padding: 6px 12px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  color: #fff;
  background: linear-gradient(99.05deg, #bc3cd8 0.07%, #c54b8c 106.32%);
  border-radius: 6px;
  border-color: transparent;
  cursor: pointer;
}

.sign-in__form-btn:hover {
  background: linear-gradient(99.05deg, #d83cd5 0.07%, #c54b4d 106.32%);
}

/* header */

.header {
  position: sticky;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 22px;
  margin-bottom: 32px;
  margin-left: -16px;
  margin-right: -16px;
  padding-left: 16px;
  padding-right: 16px;
  top: 0;
  z-index: 100;
}

.header__radius {
  position: absolute;
  top: -22px;
  width: 572px;
  height: 552px;
  background: url(./src/Assets/icons/header-radius.svg) no-repeat;
  overflow: hidden;
  z-index: -1;
}

.header__logo {
  width: 114px;
  height: 72px;
  cursor: pointer;
}

.header__nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 32px;
}

.header__nav-mobile {
  display: none;
}

.header__nav-small {
  display: none;
}

.header__links {
  margin: 0;
  display: inline-flex;
  list-style: none;
  gap: 42px;
}

.header__link {
  position: relative;
}

.header__link a {
  list-style: none;
  text-decoration: none;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  color: #ffffff;
}

.header__link:first-child {
  background: linear-gradient(99.05deg, #c80ef1 0.07%, #8e054e 106.32%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.header__link:first-child::after {
  content: "";
  display: block;
  position: absolute;
  background-color: var(--perfect-white);
  max-width: 10px;
  width: 50%;
  height: 3px;
  left: 40%;
  bottom: -5px;
  border-radius: 3px;
  transition: transform 0.3s ease-in-out;
  transform: scale(1, 1);
}

.header__link a:hover {
  background: linear-gradient(99.05deg, #c80ef1 0.07%, #8e054e 106.32%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.header__link a::after {
  content: "";
  display: block;
  position: absolute;
  background-color: var(--perfect-white);
  max-width: 10px;
  height: 3px;
  left: 40%;
  bottom: -5px;
  border-radius: 3px;
  transition: transform 0.3s ease-in-out;
  transform: scale(0, 1);
}

.header__link a:hover::after {
  width: 50%;
  transform: scale(1, 1);
}

.header__nav-wrap-btn a {
  text-decoration: none;
}

.header__nav-btn {
  display: flex;
  padding: 10px 28px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  color: var(--perfect-white);
  background: linear-gradient(rgba(188, 60, 216, 1), rgba(197, 75, 140, 1));
  border-radius: 4px;
  border: none;
  cursor: pointer;
}

.header__nav-btn:hover {
  background: linear-gradient(rgb(192, 51, 223), rgb(185, 53, 123));
}

.header__nav-btn-mobile {
  display: flex;
  padding: 10px 28px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  color: var(--perfect-white);
  background: linear-gradient(rgba(188, 60, 216, 1), rgba(197, 75, 140, 1));
  border-radius: 4px;
  border: none;
  cursor: pointer;
}

.header__nav-btn-mobile__log-out {
  display: flex;
  padding: 10px 28px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  color: var(--perfect-white);
  background: linear-gradient(rgba(188, 60, 216, 1), rgba(197, 75, 140, 1));
  border-radius: 4px;
  border: none;
  cursor: pointer;
}

/* authed header */

.authed__header {
  display: none;
}

.authed__header__nav-menu-wrap {
  position: absolute;
  display: flex;
  flex-direction: column;
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 150%;
  padding-top: 34px;
  padding-bottom: 16px;
  padding-left: 16px;
  width: 100%;
  max-width: 135px;
  top: 73px;
  right: 0;
  gap: 4px;
  background: #000000;
  border: 1px solid #bc3cd8;
  border-radius: 6px;
}

.authed__header__nav-arrow {
  position: absolute;
  display: block;
  top: 10%;
  right: 10%;
  background: rgba(14, 14, 14, 1);
  height: 5px;
  width: 5px;
  border: 1px solid;
  pointer-events: none;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 5px solid #bc3cd8;
}

.authed__header__nav-btn {
  background: transparent;
  border-color: transparent;
  cursor: pointer;
}

.authed__header__nav-btn-img {
  width: 32px;
}

.authed__header__nav-menu-wrap button {
  text-decoration: none;
  padding: 0;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.022em;
  color: #f2f2f2;
  background: transparent;
  border-color: transparent;
}

.authed__header__nav-menu-wrap button:hover {
  font-weight: 800;
  cursor: pointer;
}

.authed__header__nav-menu-wrap p {
  display: flex;
  align-items: flex-start;
  transition: transform 0.5s;
}

.authed__header__nav-menu-wrap p:hover {
  transform: translateX(5px);
}

/* hero */

.hero {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  align-items: center;
}

.hero__radius-left {
  position: absolute;
  left: 0;
  top: 400px;
  width: 400px;
  height: 786px;
  background: url(./src/Assets/icons/hero-radius-left.svg) no-repeat;
  filter: blur(12px);
  z-index: -1;
}

.hero__radius-right {
  position: absolute;
  top: 305px;
  right: 0;
  width: 34px;
  height: 786px;
  background: url(./src/Assets/icons/hero-radius-right.svg) no-repeat;
  filter: blur(3px);
  z-index: -1;
}

.hero__left {
  display: flex;
  flex-direction: column;
}

.hero__left-header {
  margin-bottom: 16px;
  width: 100%;
  max-width: 556px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 900;
  font-size: 32px;
  line-height: 48px;
  color: var(--perfect-white);
}

.hero__left-paragraph {
  margin-bottom: 34px;
  max-width: 556px;
  font-size: 14px;
  line-height: 21px;
  color: rgba(255, 255, 255, 0.85);
}

.hero__left-submit-user {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.hero__left-btns {
  display: flex;
  align-items: center;
  align-self: flex-start;
  padding-left: 0;
  list-style: none;
  gap: 16px;
}

.hero__left-btn {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  color: #ffffff;
  padding: 6px 12px;
  background: linear-gradient(99.05deg, #bc3cd8 0.07%, #c54b8c 106.32%);
  border-radius: 6px;
  border-color: transparent;
  cursor: pointer;
}

.hero__left-btn:hover {
  background: linear-gradient(rgb(192, 51, 223), rgb(185, 53, 123));
}

.hero__left-btn-mail {
  text-decoration: none;
  color: var(--perfect-white);
}

.hero__left-text {
  text-decoration: none;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  color: #ffffff;
}

.hero__left-text__mobile {
  display: none;
}

.hero__left-people {
  display: flex;
  align-items: center;
  padding-left: 5px;
  gap: 16px;
}

.hero__left-wrapper {
  display: flex;
  align-items: center;
  gap: 9px;
}

.hero__left-icons {
  display: flex;
  justify-content: flex-start;
  padding: 0;
}

.hero__left-icons li {
  list-style: none;
}

.hero__left-icon-img {
  width: 100%;
  width: 48px;
  margin-left: -5px;
  cursor: pointer;
}

.hero__left-online {
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  color: var(--perfect-white);
}

.hero__left-dot {
  width: 8px;
  height: 8px;
  border-radius: 100%;
  background-color: var(--perfect-white);
}

.hero__right {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 497px;
  max-width: 370px;
  background: url(./src/Assets/images/ellipse-grl.png) no-repeat center / cover;
}

.hero__right-content {
  position: relative;
  display: flex;
  flex-direction: column;
  align-self: flex-end;
  align-items: center;
  max-width: 310px;
  gap: 28px;
  left: -8px;
  bottom: 38px;
}

.hero__right-headline {
  text-align: center;
  font-weight: 800;
  font-size: 21px;
  line-height: 32px;
  color: var(--perfect-white);
}

.hero__right-line:after {
  content: "";
  display: block;
  width: 151px;
  border-bottom: 1px solid #ffffff;
}

.hero__right-paragraph {
  text-align: center;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  color: #ffffff;
  width: 275px;
}

/* experience */

.experience {
  display: flex;
  align-items: center;
  align-self: center;
  margin-top: 32px;
  margin-bottom: 32px;
  width: 100%;
  gap: 64px;
}

.experience__wrap {
  display: flex;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  gap: 64px;
}

.experience__photos {
  display: flex;
  gap: 16px;
}

.experience__photo1 {
  max-width: 205px;
  max-height: 301px;
}

.experience__photo2 {
  max-width: 205px;
  max-height: 300px;
}

.experience__mobile-btn {
  display: none;
}

.experience__content {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 21px;
}

.experience__content-wrap {
  display: flex;
  flex-direction: column;
  gap: 21px;
}

.experience__content-headline {
  width: 100%;
  max-width: 248px;
  font-weight: 900;
  font-size: 26px;
  line-height: 32px;
  color: var(--perfect-white);
}

.experience__content-paragraph {
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  color: rgba(255, 255, 255, 0.85);
  width: 100%;
  max-width: 248px;
}

.experience__content-btn {
  padding: 6px 12px;
  max-width: 107px;
  max-height: 36px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
  background: linear-gradient(99.05deg, #bc3cd8 0.07%, #c54b8c 106.32%);
  border-color: transparent;
  border-radius: 6px;
  color: var(--perfect-white);
  cursor: pointer;
}

.experience__content-btn:hover {
  background: linear-gradient(rgb(192, 51, 223), rgb(185, 53, 123));
}

/* video */

.video {
  position: relative;
  display: flex;
  justify-content: space-between;
  max-height: 89px;
  border-radius: 0 50px 0 0;
  background-color: rgba(83, 70, 134, 1);
}

.video__content {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px 48px 16px 16px;
  width: 100%;
  border-width: 2px;
  border-style: solid;
  background: rgba(83, 70, 134, 1);
  border-color: transparent;
  border-radius: 0 64px 0 0;
}

.video__content-headline {
  font-weight: 600;
  font-size: 21px;
  line-height: 32px;
  color: #ffffff;
}

.video__content-img {
  max-width: 164px;
  max-height: 61px;
  cursor: pointer;
}

/* comments */

.comments {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin-top: 32px;
}

.comments__radius-center {
  position: absolute;
  width: 367px;
  height: 354px;
  left: 368px;
  top: 1200px;
  background: url(./src/Assets/icons/comments-radius.svg);
  filter: blur(1px);
  z-index: -1;
}

.comments__radius-left {
  position: absolute;
  width: 367px;
  height: 354px;
  left: 0;
  top: 1282px;
  background: url(./src/Assets/icons/comments-radius-left.svg) no-repeat;
  filter: blur(14px);
  z-index: -1;
}

.comments__wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 16px;
  width: 100%;
  max-width: 1280px;
  background: linear-gradient(
    180deg,
    #aa14f0 -42.59%,
    rgba(0, 0, 0, 0) -42.59%,
    #aa14f0 -42.58%,
    rgba(170, 20, 240, 0.18) 4.35%,
    rgba(151, 60, 68, 0.055) 99.99%,
    rgba(185, 54, 245, 0) 100%
  );
  border-radius: 7px;
  gap: 16px;
}

.comments__headline-head {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-weight: 700;
  font-size: 26px;
  line-height: 39px;
  letter-spacing: -0.02em;
  color: #ffffff;
  width: 100%;
  max-width: 264px;
}

.comments__headline-content {
  width: 100%;
  max-width: 535px;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  color: rgba(255, 255, 255, 0.85);
}

.comments__stars-list {
  display: flex;
  align-items: center;
  width: 100%;
  max-width: 872px;
  gap: 16px;
}

.comments__stars-item {
  display: flex;
  flex-direction: column;
  padding: 12px;
  background: linear-gradient(
    180deg,
    #aa14f0 -42.59%,
    rgba(0, 0, 0, 0) -42.59%,
    #cb8de8 -42.58%,
    rgba(203, 143, 232, 0.18) 4.35%,
    rgba(151, 60, 68, 0.055) 99.99%,
    rgba(199, 137, 228, 0) 100%
  );
  backdrop-filter: blur(5.71745px);
  border-radius: 6px;
  gap: 12px;
}

.comments__stars-item-headline {
  font-weight: 700;
  font-size: 12px;
  line-height: 18px;
  color: #e4e5e7;
}

.comments__stars-item-headline span {
  font-weight: 700;
  font-size: 12px;
  line-height: 18px;
  color: #f7b603;
}

.comments__stars-item-par {
  font-style: normal;
  font-weight: 400;
  font-size: 10px;
  line-height: 12px;
  color: #ffffff;
}

.comments__stars-item img {
  width: 100%;
  height: 100%;
  max-width: 36px;
  max-height: 36px;
}

.comments__stars-item-names {
  display: flex;
  align-items: center;
  gap: 8px;
}

.comments__stars-item-names div {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 99px;
  font-weight: 500;
  font-size: 12px;
  line-height: 9px;
  color: #ffffff;
}

.comments__stars-item-names div p {
  margin-bottom: 7px;
}

.comments__stars-item-names a {
  color: #eb4468;
  gap: 7px;
  cursor: pointer;
}

/* values */

.values {
  display: flex;
  margin-top: 32px;
  margin-bottom: 34px;
}

.values__wrap {
  display: flex;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  gap: 32px;
}

.values__left {
  display: flex;
  flex-direction: column;
}

.values__left h3 {
  width: 100%;
  max-width: 381px;
  display: flex;
  font-weight: 700;
  font-size: 26px;
  line-height: 39px;
  color: rgb(255, 255, 255);
  margin-bottom: 16px;
}

.values__left-paragraph {
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  letter-spacing: 0.02em;
  color: rgba(255, 255, 255, 0.85);
  width: 100%;
  max-width: 381px;
}

.values__right {
  display: flex;
  text-align: center;
  gap: 6px;
}

.values__right-benefits {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
}

.values__right-benefits img {
  width: 30px;
  height: 26px;
}

.values__right-benefits p {
  max-width: 46px;
  font-weight: 600;
  font-size: 9px;
  line-height: 11px;
  color: #ffffff;
}

/* footer */

.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer__radius-left {
  position: absolute;
  width: 367px;
  height: 225px;
  left: 0;
  top: 1536px;
  background: url(../../Assets/icons/footer__radius-left.svg) no-repeat;
  z-index: -1;
}

.footer__wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  background-image: url(./src/Assets/images/footer-bgr.png);
  mix-blend-mode: difference;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  mix-blend-mode: difference;
  border-radius: 0px 7px 7px 0px;
  gap: 16px;
}

.footer__headline {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 67px;
}

.footer__headline h3 {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 16px;
  width: 100%;
  max-width: 371px;
  font-weight: 700;
  font-size: 26px;
  line-height: 39px;
  color: #ffffff;
}

.footer__headline p {
  width: 100%;
  max-width: 588px;
  margin-top: 0;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  text-align: center;
  color: rgba(255, 255, 255, 0.85);
}

.footer__search {
  display: flex;
  align-items: center;
  margin-bottom: 68px;
  width: 100%;
  max-width: 252px;
  gap: 12px;
}

.footer__search__enter-box {
  max-width: 175px;
  height: 36px;
  padding-left: 8px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  color: rgba(255, 255, 255, 0.56);
  background: rgba(224, 163, 201, 0.56);
  border-radius: 8px 0px 0px 8px;
  border: none;
}

.footer__search__enter-box::placeholder {
  color: rgba(255, 255, 255, 0.56);
}

.footer__search__btn {
  padding: 6px 12px;
  width: 100%;
  max-width: 65px;
  max-height: 36px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  color: #f4f9fe;
  text-align: center;
  background: linear-gradient(
    99.99deg,
    #b936f5 -21.45%,
    #c64c85 100%,
    #f1005b 100%
  );
  border-radius: 0px 8px 8px 0px;
  border: 0px solid transparent;
  cursor: pointer;
  color: var(--perfect-white);
}

.footer__search__btn:hover {
  background: linear-gradient(rgb(192, 51, 223), rgb(185, 53, 123));
}

/* etc */

.background-blur {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(95, 95, 95, 0.6);
  backdrop-filter: blur(2px);
  z-index: 50;
}

.hidden-background-blur {
  display: none;
}

.hidden {
  display: none;
}

.background-transparent {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: transparent;
  z-index: 50;
}


@media (max-width: 1200px) {
  /* values */

  .values__right-benefits img {
    width: 50px;
    height: 40px;
  }
  .values__left h3:after {
    width: 20px;
    right: 150px;
  }

  /* comments */

  .comments__radius-center {
    left: 304px;
    top: 1175px;
  }
}

@media (max-width: 921px) {
  /* header */

  .header__radius {
    left: -110px;
  }

  .header__link a {
    font-size: 15px;
  }

  .header__nav-btn {
    padding: 9px 27px;
    font-size: 15px;
  }

  /* sign in */

  .sign-in {
    max-width: 408px;
  }

  .sign-in__wrap {
    gap: 14px;
  }

  .sign-in__wrap form {
    margin-bottom: 16px;
    gap: 16px;
  }

  .sign-in__headline h3 {
    padding-top: 16px;
    padding-bottom: 16px;
    padding-left: 16px;
    font-weight: 600;
    font-size: 18px;
    line-height: 27px;
  }

  .sign-in__form-inpt {
    width: 372px;
    height: 31px;
    padding-top: 18px;
    padding-bottom: 18px;
    font-size: 17px;
  }

  .sign-in__form-btn {
    padding: 6px 12px;
    font-weight: 700;
    font-size: 13px;
    line-height: 21px;
    width: 100%;
    max-width: 71px;
    max-height: 36px;
  }

  /* hero */

  .hero__left-headline h3 {
    font-size: 31px;
  }

  .hero__left-paragraph {
    font-size: 13px;
  }

  .hero__left-icon {
    max-width: 45px;
  }

  .hero__left-dot {
    width: 7px;
  }

  .hero__left-online {
    font-size: 15px;
  }

  .hero__right-content {
    bottom: 45px;
    gap: 25px;
  }

  /* values */

  .values {
    padding: 0 130px;
  }

  .values__right-benefits img {
    width: 43px;
    height: 44px;
  }

  /* video */

  .video__content-img {
    max-width: 120px;
    height: 44px;
  }

  /* experience */

  .experience {
    gap: 60px;
  }

  .experience__wrap {
    gap: 60px;
  }

  .experience__photos {
    gap: 14px;
  }

  .experience__photo1 {
    max-width: 170px;
  }

  .experience__photo2 {
    max-width: 170px;
  }

  .experience__content-headline {
    font-size: 25px;
  }

  .experience__content-paragraph {
    font-size: 13px;
  }

  .experience__content-btn {
    height: 34px;
  }

  /* comments */

  .comments__headline-content {
    text-align: center;
  }

  .comments__stars-item img {
    max-width: 44px;
  }

  .footer__headline h3 {
    font-size: 20px;
  }

  .footer__headline p {
    font-weight: 400;
    font-size: 13px;
    line-height: 11px;
    max-width: 336px;
  }
}

@media (max-width: 766px) {
  /* header */

  .header {
    margin-top: 12px;
    margin-bottom: 22px;
  }

  .header__radius {
    left: -127px;
  }

  .header__logo {
    max-width: 97px;
  }

  .header__links {
    gap: 19px;
  }

  .header__link a {
    font-size: 13px;
  }

  .header__nav {
    gap: 20px;
  }

  .header__nav-btn {
    padding: 7px 26px;
    font-size: 13px;
  }

  /* hero */

  .hero__left-headline h3 {
    font-size: 18px;
    max-width: 296px;
  }

  .hero__left-paragraph {
    max-width: 242px;
    font-size: 13px;
  }

  .hero__left-btns {
    gap: 15px;
  }

  .hero__left-btn {
    font-size: 12px;
  }

  .hero__left-text {
    font-size: 12px;
  }

  .hero__left-icon {
    max-width: 43px;
  }

  .hero__left-online {
    line-height: 13px;
    font-size: 11px;
  }

  .hero__left-people {
    gap: 5px;
  }

  .hero__left-icon-img {
    width: 32px;
  }

  .hero__right {
    width: 100%;
    max-width: 310px;
    background: url(./src/Assets/images/GirlEllipse-resized.png) no-repeat
      center;
  }

  .hero__right-content {
    bottom: 73px;
    gap: 16px;
  }

  .hero__right-headline {
    font-size: 19px;
  }

  .hero__right-paragraph {
    width: 100%;
    max-width: 234px;
    font-size: 12px;
  }

  /* experience */

  .experience {
    margin-top: 24px;
    gap: 60px;
  }

  .experience__wrap {
    flex-direction: column;
    gap: 25px;
  }

  .experience__photos {
    gap: 14px;
  }

  .experience__photo1 {
    max-width: 170px;
  }

  .experience__photo2 {
    max-width: 170px;
  }

  .experience__content {
    align-items: center;
  }

  .experience__content-wrap {
    text-align: center;
    gap: 12px;
  }

  .experience__content-headline {
    width: 100%;
    max-width: 353px;
    font-size: 21px;
  }

  .experience__content-paragraph {
    font-size: 13px;
    max-width: 353px;
  }

  .experience__content-btn {
    font-size: 12px;
    height: 34px;
  }

  /* video */

  .video__content {
    gap: 30px;
    padding: 10px 30px 10px 18px;
  }

  .video__content-img {
    max-width: 110px;
  }

  .video__content-headline {
    font-size: 15px;
  }

  /* values */

  .values {
    padding: 100px;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 5px;
    padding-bottom: 5px;
  }

  .values__wrap {
    /* width: 88%; */
  }

  .values__left h3:after {
    right: 145px;
  }

  /* comments */

  .comments__radius-center {
    left: 200px;
  }

  .comments__stars-item-names div {
    font-size: 10px;
  }

  .comments__stars-item img {
    max-width: 35px;
  }

  .footer__headline p {
    font-weight: 400;
    font-size: 13px;
    line-height: 11px;
    max-width: 336px;
  }
}

@media (max-width: 576px) {

  .container {
    position: relative;
  }

  /* header */

  .header {
    margin-top: 12px;
  }

  .header__radius {
    left: -229px;
  }

  .header__nav {
    display: none;
  }

  /* burger menu active */

  .header__nav-small {
    /* position: relative;  */
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 18px;
    height: 16px;
    border: none;
    padding: 0px;
    background: linear-gradient(
      to bottom,
      white 0,
      white 20%,
      #010208 20%,
      #010208 40%,
      white 40%,
      white 60%,
      #010208 60%,
      #010208 80%,
      white 80%,
      white 100%
    );
    z-index: 10;
    overflow-y: hidden;
  }

  .header__nav-mobile {
    display: none;
  }

  .header__links {
    position: fixed;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: rgba(16, 16, 16, 0.9);
    gap: 5px;
    z-index: 10;
  }

  .header__links a {
    font-size: 15px;
    line-height: 31px;
  }

  .header__nav-btn {
    width: 100%;
    height: 100%;
    max-height: 31px;
    line-height: 17px;
  }

  .header__link:first-child::after {
    width: 0;
  }

  /* hero */

  .hero {
    flex-direction: column-reverse;
  }

  .hero__left {
    align-items: center;
  }

  .hero__left-header {
    text-align: center;
    margin-bottom: 16px;
    width: 100%;
    max-width: 556px;
    font-family: "Poppins";
    font-style: normal;
    font-weight: 900;
    font-size: 20px;
    line-height: 30px;
    color: var(--perfect-white);
  }

  .hero__left-headline {
    gap: 8px;
  }

  .hero__left-headline h3 {
    font-size: 25px;
    max-width: 339px;
    text-align: center;
  }

  .hero__left-paragraph {
    font-size: 12px;
    line-height: 18px;
    max-width: 339px;
  }

  .hero__left-submit-user {
    align-items: center;
  }

  .hero__left-btns {
    align-self: center;
    gap: 15px;
  }

  .hero__left-btn {
    font-size: 12px;
  }

  .hero__left-text {
    font-size: 12px;
  }

  .hero__left-icon {
    max-width: 43px;
  }

  .hero__left-dot {
    width: 8px;
  }

  .hero__left-online {
    line-height: 13px;
    font-size: 11px;
  }

  .hero__left-people {
    gap: 5px;
  }

  .hero__right {
    width: 100%;
    max-width: 310px;
    background: url(./src/Assets/images/GirlEllipse-resized.png) no-repeat
      center;
  }

  .hero__right-content {
    bottom: 73px;
    gap: 16px;
  }

  .hero__right-headline {
    font-size: 19px;
  }

  .hero__right-paragraph {
    width: 100%;
    max-width: 234px;
    font-size: 12px;
  }
  /* experience */

  .experience {
    flex-direction: column;
  }

  .experience__wrap {
    flex-direction: column;
    gap: 15px;
  }

  .experience__content-wrap {
    display: flex;
    flex-direction: column;
    gap: 5px;
  }

  .experience__content {
    align-self: center;
    align-items: center;
    max-width: 100%;
    width: 356px;
    gap: 13px;
  }

  .experience__content-paragraph {
    font-size: 11px;
  }

  .experience__content-headline {
    font-weight: 900;
    font-size: 24px;
    line-height: 33px;
  }

  .experience__content-btn {
    padding: 6px 12px;
    font-weight: 700;
    font-size: 13px;
    line-height: 16px;
  }

  .experience__photos {
    align-self: center;
    height: 220px;
  }

  .experience__photo1 {
    width: 150px;
    height: fit-content;
  }

  .experience__photo2 {
    width: 150px;
    height: fit-content;
  }

  /* video */

  .video {
    max-height: 53px;
  }

  .video__content {
    padding: 10px 32px 9px 9px;
    gap: 36px;
  }

  .video__content-headline {
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
  }

  .video__content-img {
    max-width: 90px;
    height: 60px;
    cursor: pointer;
    width: 100%;
  }

  /* comments */
  .comments {
    margin-top: 24px;
  }

  .comments__radius-center {
    display: none;
    left: 20px;
    top: 1216px;
    filter: blur(34px);
  }

  .comments__wrap {
    padding-top: 12px;
    padding-bottom: 12px;
    gap: 8px;
  }

  .comments__radius-left {
    overflow: hidden;
  }

  .comments__headline-head {
    width: 100%;
    max-width: 190px;
    font-weight: 700;
    font-size: 18px;
    line-height: 27px;
  }

  .comments__headline {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 281px;
    gap: 8px;
  }

  .comments__headline-content {
    max-width: 300px;
    font-weight: 400;
    font-size: 9px;
    line-height: 14px;
    letter-spacing: -0.02em;
  }

  .comments__wrap {
    padding-left: 0;
    padding-right: 0;
  }

  .comments__stars-list {
    width: 100%;
    max-width: 282px;
    overflow-x: auto;
    gap: 15px;
  }

  .comments__stars-item-headline {
    font-weight: 700;
    font-size: 10px;
    line-height: 12px;
    color: #e4e5e7;
  }

  .comments__stars-item-headline span {
    font-weight: 700;
    font-size: 10px;
    line-height: 12px;
  }

  .comments__stars-item img {
    width: 38px;
    height: 38px;
  }

  ::-webkit-scrollbar {
    width: 12px;
    height: 2px;
    background: #c993d4;
    border-radius: 4px;
  }

  ::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 1px rgba(13, 242, 181, 0.402);
    background: rgb(247, 3, 202);
  }

  .comments__stars-item {
    width: 100%;
    min-width: 282px;
    gap: 8px;
  }

  .comments__stars-item-names {
    gap: 6px;
  }

  .comments__stars-item-names div {
    font-weight: 500;
    font-size: 7px;
    line-height: 10px;
    gap: 2px;
  }
  /* values */

  .values {
    margin-top: 24px;
    margin-bottom: 29px;
    padding: 0;
  }

  .values__wrap {
    flex-direction: column;
    align-items: center;
    gap: 19px;
  }

  .values__left {
    width: 100%;
    align-items: center;
  }

  .values__left h3 {
    max-width: 256px;
    font-weight: 700;
    font-size: 18px;
    line-height: 27px;
  }

  .values__left-paragraph {
    text-align: center;
    width: 100%;
    max-width: 362px;
    font-weight: 400;
    font-size: 15px;
    line-height: 22px;
    letter-spacing: 0.02em;
  }

  .values__left h3:after {
    display: none;
  }

  .values__right {
    max-width: 250px;
    align-items: center;
  }

  .values__right {
    display: flex;
    gap: 20px;
  }

  .values__right-benefits {
    gap: 20px;
    width: 100px;
  }

  .values__right-benefit {
    height: 66px;
  }

  .values__right-benefits p {
    display: flex;
    width: 100%;
    font-weight: 600;
    font-size: 10px;
    line-height: 11px;
  }

  .values__right-benefit img {
  }

  /* footer */
  .footer__radius-left {
    display: none;
  }

  .footer__wrap {
    padding-top: 10px;
    padding-bottom: 10px;
    background-image: url(./src/Assets/icons/footer-mobile.svg);
    mix-blend-mode: difference;
    border-radius: 8px;
    gap: 10px;
  }

  .footer__headline {
    width: 100%;
    margin-top: 10px;
  }

  .footer__headline h3 {
    font-weight: 700;
    font-size: 18px;
    line-height: 27px;
  }

  .footer__headline p {
    font-weight: 400;
    font-size: 10px;
    line-height: 11px;
    color: rgba(255, 255, 255, 0.85);
    max-width: 253px;
  }

  .footer__search {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
    gap: 12px;
  }

  .footer__search__enter-box {
    display: flex;
    padding: 16.5px 8px;
    width: 100%;
    max-width: 175px;
    max-height: 33px;
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    color: rgba(255, 255, 255, 0.56);
    background: rgba(224, 163, 201, 0.56);
    box-shadow: inset 0px -9.72759px 16.2127px rgba(255, 255, 255, 0.03);
    backdrop-filter: blur(6.07974px);
    border-radius: 8px 0px 0px 8px;
  }

  .footer__search__btn {
    display: flex;
    width: 100%;
    height: 100%;
    max-width: 60px;
    max-height: 33px;
    padding: 6px 12px;
    font-weight: 700;
    font-size: 14px;
    line-height: 21px;
    color: #f4f9fe;
    background: linear-gradient(
      99.99deg,
      #b936f5 -21.45%,
      #c64c85 100%,
      #f1005b 100%
    );
    border-radius: 0px 8px 8px 0px;
  }

  .footer__headline p {
    width: 100%;
    max-width: 253px;
  }
}

@media (min-width: 390px) and (max-width: 450px) {
  .container {
    padding: 0 12px;
  }

  /* header */

  .header {
    margin-top: 12px;
  }

  .header__radius {
    left: -229px;
  }

  .header__nav {
    display: none;
  }

  /* sign in */

  .sign-in {
    max-width: 348px;
  }

  .sign-in__wrap {
    gap: 14px;
  }

  .sign-in__wrap form {
    margin-bottom: 16px;
    gap: 16px;
  }

  .sign-in__headline h3 {
    padding-top: 16px;
    padding-bottom: 16px;
    padding-left: 16px;
    font-weight: 600;
    font-size: 18px;
    line-height: 27px;
  }

  .sign-in__form-inpt {
    width: 312px;
    height: 31px;
    padding-top: 18px;
    padding-bottom: 18px;
  }

  .sign-in__form-btn {
    padding: 6px 12px;
    font-weight: 700;
    font-size: 13px;
    line-height: 21px;
    width: 100%;
    max-width: 71px;
    max-height: 33px;
  }

  /* hero */

  .hero__radius-left {
    width: 372px;
  }

  .hero {
    flex-direction: column-reverse;
  }

  .hero__left {
    align-items: center;
  }

  .hero__left-wrapper {
    gap: 12px;
  }

  .hero__left-headline {
    gap: 8px;
  }

  .hero__left-header {
    margin-bottom: 8px;
  }

  .hero__left-paragraph {
    margin-bottom: 16px;
    font-size: 12px;
    line-height: 18px;
    max-width: 339px;
  }

  .hero__left-submit-user {
    align-items: center;
    gap: 16px;
  }

  .hero__left-btns {
    align-self: center;
    gap: 16px;
  }

  .hero__left-btn {
    font-weight: 700;
    font-size: 10px;
    line-height: 17px;
  }

  .hero__left-text {
    font-weight: 700;
    font-size: 11px;
    line-height: 17px;
  }

  .hero__left-icon {
    max-width: 31px;
  }

  .hero__left-dot {
    width: 8px;
  }

  .hero__left-online {
    font-weight: 600;
    font-size: 10px;
    line-height: 15px;
  }

  .hero__left-people {
    gap: 12px;
  }

  .hero__right {
    width: 100%;
    max-width: 310px;
    background: url(./src/Assets/images/GirlEllipse-resized.png) no-repeat
      center;
  }

  .hero__right-content {
    bottom: 84px;
    gap: 14px;
  }

  .hero__right-headline {
    font-weight: 800;
    font-size: 18px;
    line-height: 27px;
  }

  .hero__right-paragraph {
    width: 100%;
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
  }

  /* experience */

  .experience {
    flex-direction: column;
    margin-bottom: 24px;
  }

  .experience__wrap {
    flex-direction: column;
    gap: 16px;
  }

  .experience__content-wrap {
    display: flex;
    flex-direction: column;
    gap: 5px;
  }

  .experience__content {
    align-self: center;
    align-items: center;
    max-width: 100%;
    width: 356px;
    gap: 16px;
  }

  .experience__content-headline {
    font-weight: 900;
    font-size: 18px;
    line-height: 33px;
    max-width: 360px;
  }

  .experience__content-paragraph {
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    max-width: 360px;
  }

  .experience__content-btn {
    padding: 6px 12px;
    font-weight: 700;
    font-size: 13px;
    line-height: 16px;
  }

  .experience__photos {
    align-self: center;
    height: 100%;
    gap: 18px;
  }

  .experience__photo1 {
    width: 160px;
    height: fit-content;
  }

  .experience__photo2 {
    width: 160px;
    height: fit-content;
  }

  /* video */

  .video {
    width: 100%;
    max-height: 149px;
  }

  .video__content {
    flex-direction: column;
    padding: 8px 0px 8px 8px;
    background: rgba(83, 70, 134, 1);
    gap: 8px;
  }

  .video__content-headline {
    max-width: 355px;
    font-weight: 600;
    font-size: 21px;
    line-height: 32px;
  }

  .video__content-img {
    width: 100%;
    max-width: 164px;
    height: 61px;
    cursor: pointer;
  }

  /* comments */

  .comments {
    margin-top: 24px;
  }

  .comments__radius-center {
    display: none;
    left: 20px;
    top: 1216px;
    filter: blur(34px);
  }

  .comments__wrap {
    padding-top: 12px;
    padding-bottom: 12px;
    gap: 8px;
  }

  .comments__radius-left {
    overflow: hidden;
  }

  .comments__headline-head {
    width: 100%;
    max-width: 190px;
    font-weight: 700;
    font-size: 18px;
    line-height: 27px;
  }

  .comments__headline {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 281px;
    gap: 8px;
  }

  .comments__headline-content {
    max-width: 300px;
    font-weight: 400;
    font-size: 9px;
    line-height: 14px;
    letter-spacing: -0.02em;
  }

  .comments__wrap {
    padding-left: 0;
    padding-right: 0;
  }

  .comments__stars-list {
    width: 100%;
    max-width: 282px;
    overflow-x: auto;
    gap: 15px;
  }

  .comments__stars-item-headline {
    font-weight: 700;
    font-size: 10px;
    line-height: 12px;
    color: #e4e5e7;
  }

  .comments__stars-item-headline span {
    font-weight: 700;
    font-size: 10px;
    line-height: 12px;
  }

  .comments__stars-item img {
    width: 38px;
    height: 38px;
  }

  ::-webkit-scrollbar {
    width: 12px;
    height: 2px;
    background: #c993d4;
    border-radius: 4px;
  }

  /* ::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 1px rgba(211, 224, 26, 0.402);
    border-radius: 10px;
  } */

  /* ::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 1px transparent;
  } */

  ::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 1px rgba(13, 242, 181, 0.402);
    background: rgb(247, 3, 202);
  }

  .comments__stars-item {
    width: 100%;
    min-width: 282px;
    gap: 8px;
  }

  .comments__stars-item-names {
    gap: 6px;
  }

  .comments__stars-item-names div {
    font-weight: 500;
    font-size: 7px;
    line-height: 10px;
    gap: 2px;
  }

  /* values */

  .values {
    margin-top: 24px;
    margin-bottom: 29px;
    padding: 0;
  }

  .values__wrap {
    flex-direction: column;
    align-items: center;
    gap: 18px;
  }

  .values__left {
    width: 100%;
    align-items: center;
  }

  .values__left h3 {
    max-width: 256px;
    font-weight: 700;
    font-size: 18px;
    line-height: 27px;
  }

  .values__left-paragraph {
    text-align: center;
    width: 100%;
    max-width: 362px;
    font-weight: 400;
    font-size: 15px;
    line-height: 22px;
    letter-spacing: 0.02em;
  }

  .values__left h3:after {
    display: none;
  }

  .values__right {
    max-width: 250px;
    align-items: center;
  }

  .values__right {
    display: flex;
    gap: 20px;
  }

  .values__right-benefits {
    gap: 20px;
    width: 100px;
  }

  .values__right-benefit {
    height: 66px;
  }

  .values__right-benefits p {
    display: flex;
    width: 100%;
    font-weight: 600;
    font-size: 10px;
    line-height: 11px;
  }

  .values__right-benefit img {
  }

  /* footer */

  .footer__radius-left {
    display: none;
  }

  .footer__wrap {
    padding-top: 10px;
    padding-bottom: 10px;
    background-image: url(./src/Assets/icons/footer-mobile.svg);
    mix-blend-mode: difference;
    border-radius: 8px;
    gap: 10px;
  }

  .footer__headline {
    width: 100%;
    margin-top: 10px;
  }

  .footer__headline h3 {
    font-weight: 700;
    font-size: 18px;
    line-height: 27px;
  }

  .footer__headline p {
    font-weight: 400;
    font-size: 10px;
    line-height: 11px;
    color: rgba(255, 255, 255, 0.85);
    max-width: 253px;
  }

  .footer__search {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
    gap: 12px;
  }

  .footer__search__enter-box {
    display: flex;
    padding: 16.5px 8px;
    width: 100%;
    max-width: 175px;
    max-height: 33px;
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    color: rgba(255, 255, 255, 0.56);
    background: rgba(224, 163, 201, 0.56);
    box-shadow: inset 0px -9.72759px 16.2127px rgba(255, 255, 255, 0.03);
    backdrop-filter: blur(6.07974px);
    border-radius: 8px 0px 0px 8px;
  }

  .footer__search__btn {
    display: flex;
    width: 100%;
    height: 100%;
    max-width: 60px;
    max-height: 33px;
    padding: 6px 12px;
    font-weight: 700;
    font-size: 14px;
    line-height: 21px;
    color: #f4f9fe;
    background: linear-gradient(
      99.99deg,
      #b936f5 -21.45%,
      #c64c85 100%,
      #f1005b 100%
    );
    border-radius: 0px 8px 8px 0px;
  }

  .footer__headline p {
    width: 100%;
    max-width: 253px;
  }
}
