<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="authed_header.css" />
    <link rel="stylesheet" href="./reset.css" />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <section class="authed__header">
      <div class="authed__header__container">
        <img
          class="authed__header__logo"
          src="../../Assets/icons/logo.svg"
          alt="logo"
        />
        <div class="authed__header__nav">
          <ul class="authed__header__links">
            <li class="authed__header__link"><a href="#">Home</a></li>
            <li class="authed__header__link"><a href="#">Games</a></li>
            <li class="authed__header__link"><a href="#">Features</a></li>
          </ul>
          <button class="authed__header__nav-btn">
            <img
            src="../../Assets/icons/authed-header/user-icon.svg"
            alt="user-icon"
          />
          </button>
            <div class="authed__header__nav-menu-wrap">
              <a href="#"><p>My Profile</p></a>
              <a href="#"><p>Log out</p></a>
              <div class="authed__header__nav-arrow"></div>
          </div>
        </div>
      </div>
    </section>
    <script type="module" src="../../scripts/authedHeaderExpandMenu.js"></script>
  </body>
</html>
