*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    padding: 0;
    background-color: black;
  }

.my-profile {
    position: absolute;
    display: flex;
    top: 50%;
    font-size: 35px;
    color: white;
}