<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="reset.css">
    <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
</head>
<body>
    <div class="container">
      <header class="header">
        <div class="header__radius"></div>
        <a href="../../../index.html"><img class="header__logo" src="../../Assets/icons/logo.svg" alt="logo"/></a>
        <div class="header__nav">
          <div class="header__nav-wrap">
            <ul class="header__links">
              <li class="header__link"><a href="../../../index.html">Home</a></li>
              <li class="header__link"><a href="./index.html">Games</a></li>
              <li class="header__link"><a href="./Users Page/Users.html">Users</a></li>
            </ul>
          </div>  
          <div class="header__nav-wrap-btn">
            <button class="header__nav-btn"  type="submit">Sign In</button>
          </div>
        </div>
        <div class="header__nav-mobile">
          <ul class="header__links">
            <li class="header__link"><a href="../../../index.html">Home</a></li>
            <li class="header__link"><a href="./index.html">Games</a></li>
            <li class="header__link"><a href="./Users Page/Users.html">Users</a></li>
            <li> <button class="header__nav-btn" type="submit">Sign In</button></li>
          </ul>
        </div> 
        <button onclick="toggleNavigBtn()" class="header__nav-small"></button>
        
        <div class="background-blur hidden-background-blur"></div>
        <div class="sign-in modal hidden">
          <div class="sign-in__wrap">
            <div class="sign-in__headline">
              <h3>Authorization</h3>
            </div>
            <div class="sign-in__inputs">
              <form action="">
                <input id="sign-in-email" class="sign-in__form-inpt" type="text" placeholder="Email" />
                <input id="sign-in-password" class="sign-in__form-inpt" type="password" placeholder="Password" />
            </form>
            <button type="submit" class="sign-in__form-btn">Sign In</button>
            </div>
          </div>
        </div>
      </header>
          <main>
            <section class="filter">
                <div class="filter__wrap">
                  <div class="filter__logo-wrap">
                    <div class="filter__logo">
                      <h3>VR Games</h3>
                    </div>
                  </div>
                  <div class="filter__search">
                    <button class="filter__search-btn" type="submit">Add new card</button>
                    <div class="filter__search-box">
                      <select >
                        <option value="" Selected disabled>Sort By Date</option>
                        <option class="filter__search-option">New first</option>
                        <option class="filter__search-option">New second</option>
                      </select>
                      <span class="filter__search-box-arrow"></span>
                    </div>
                  </div>
                </div>
                <div class="background-blur hidden-background-blur"></div>
                <div class="adding modal hidden">
                  <div class="adding__wrap">
                    <div class="adding__headline">
                      <h3>Add New Game</h3>
                    </div>
                    <div class="adding__inputs">
                      <form action="">
                        <input id="adding-name" class="adding__form-inpt" type="text" , placeholder="Game name" />
                        <input id="adding-description" class="adding__form-inpt" type="text" , placeholder="Game description" />
                        <input id="adding-review" class="adding__form-inpt" type="text" , placeholder="Game review" />
                        <input id="adding-image" class="adding__form-inpt" type="text" , placeholder="Game image" />
                    </form>
                    <button type="submit" class="adding__form-btn">Add New Game</button>
                    </div>
                  </div>
                </div>
            </section>

            <section class="content">
                <div class="content__radius-left"></div>
                <div class="content__radius-right"></div>
                <ul class="content__grid">
                  <li class="content__grid-item">
                    <img
                      class="content__grid-item-img"
                      src="../../Assets/images/games/games-img-sample.png"
                      alt="cs"
                    />
                    <div class="content__grid-item-description">
                      <div class="content__grid-item-description-left">
                        <h3>${gameName}</h3>
                        <span>${gameDescription}</span>
                      </div>
                      <div class="content__grid-item-description-right">
                        <h3>${userName}</h3>
                        <span>${userReview}</span>
                      </div>
                    </div>
                  </li>
                  <li class="content__grid-item">
                    <img
                      class="content__grid-item-img"
                      src="../../Assets/images/games/games-img-sample.png"
                      alt="cs"
                    />
                    <div class="content__grid-item-description">
                      <div class="content__grid-item-description-left">
                        <h3>${gameName}</h3>
                        <span>${gameDescription}</span>
                      </div>
                      <div class="content__grid-item-description-right">
                        <h3>${userName}</h3>
                        <span>${userReview}</span>
                      </div>
                    </div>
                  </li>
                  <li class="content__grid-item">
                    <img
                      class="content__grid-item-img"
                      src="../../Assets/images/games/games-img-sample.png"
                      alt="cs"
                    />
                    <div class="content__grid-item-description">
                      <div class="content__grid-item-description-left">
                        <h3>${gameName}</h3>
                        <span>${gameDescription}</span>
                      </div>
                      <div class="content__grid-item-description-right">
                        <h3>${userName}</h3>
                        <span>${userReview}</span>
                      </div>
                    </div>
                  </li>
                  <li class="content__grid-item">
                    <img
                      class="content__grid-item-img"
                      src="../../Assets/images/games/games-img-sample.png"
                      alt="cs"
                    />
                    <div class="content__grid-item-description">
                      <div class="content__grid-item-description-left">
                        <h3>${gameName}</h3>
                        <span>${gameDescription}</span>
                      </div>
                      <div class="content__grid-item-description-right">
                        <h3>${userName}</h3>
                        <span>${userReview}</span>
                      </div>
                    </div>
                  </li>
                  <li class="content__grid-item">
                    <img
                      class="content__grid-item-img"
                      src="../../Assets/images/games/games-img-sample.png"
                      alt="cs"
                    />
                    <div class="content__grid-item-description">
                      <div class="content__grid-item-description-left">
                        <h3>${gameName}</h3>
                        <span>${gameDescription}</span>
                      </div>
                      <div class="content__grid-item-description-right">
                        <h3>${userName}</h3>
                        <span>${userReview}</span>
                      </div>
                    </div>
                  </li>
                  <li class="content__grid-item">
                    <img
                      class="content__grid-item-img"
                      src="../../Assets/images/games/games-img-sample.png"
                      alt="cs"
                    />
                    <div class="content__grid-item-description">
                      <div class="content__grid-item-description-left">
                        <h3>${gameName}</h3>
                        <span>${gameDescription}</span>
                      </div>
                      <div class="content__grid-item-description-right">
                        <h3>${userName}</h3>
                        <span>${userReview}</span>
                      </div>
                    </div>
                  </li>
                  <li class="content__grid-item">
                    <img
                      class="content__grid-item-img"
                      src="../../Assets/images/games/games-img-sample.png"
                      alt="cs"
                    />
                    <div class="content__grid-item-description">
                      <div class="content__grid-item-description-left">
                        <h3>${gameName}</h3>
                        <span>${gameDescription}</span>
                      </div>
                      <div class="content__grid-item-description-right">
                        <h3>${userName}</h3>
                        <span>${userReview}</span>
                      </div>
                    </div>
                  </li>
                  <li class="content__grid-item">
                    <img
                      class="content__grid-item-img"
                      src="../../Assets/images/games/games-img-sample.png"
                      alt="cs"
                    />
                    <div class="content__grid-item-description">
                      <div class="content__grid-item-description-left">
                        <h3>${gameName}</h3>
                        <span>${gameDescription}</span>
                      </div>
                      <div class="content__grid-item-description-right">
                        <h3>${userName}</h3>
                        <span>${userReview}</span>
                      </div>
                    </div>
                  </li>
                  <li class="content__grid-item">
                    <img
                      class="content__grid-item-img"
                      src="../../Assets/images/games/games-img-sample.png"
                      alt="cs"
                    />
                    <div class="content__grid-item-description">
                      <div class="content__grid-item-description-left">
                        <h3>${gameName}</h3>
                        <span>${gameDescription}</span>
                      </div>
                      <div class="content__grid-item-description-right">
                        <h3>${userName}</h3>
                        <span>${userReview}</span>
                      </div>
                    </div>
                  </li>
                  <li class="content__grid-item">
                    <img
                      class="content__grid-item-img"
                      src="../../Assets/images/games/games-img-sample.png"
                      alt="cs"
                    />
                    <div class="content__grid-item-description">
                      <div class="content__grid-item-description-left">
                        <h3>${gameName}</h3>
                        <span>${gameDescription}</span>
                      </div>
                      <div class="content__grid-item-description-right">
                        <h3>${userName}</h3>
                        <span>${userReview}</span>
                      </div>
                    </div>
                  </li>
                  <li class="content__grid-item">
                    <img
                      class="content__grid-item-img"
                      src="../../Assets/images/games/games-img-sample.png"
                      alt="cs"
                    />
                    <div class="content__grid-item-description">
                      <div class="content__grid-item-description-left">
                        <h3>${gameName}</h3>
                        <span>${gameDescription}</span>
                      </div>
                      <div class="content__grid-item-description-right">
                        <h3>${userName}</h3>
                        <span>${userReview}</span>
                      </div>
                    </div>
                  </li>
                  <li class="content__grid-item">
                    <img
                      class="content__grid-item-img"
                      src="../../Assets/images/games/games-img-sample.png"
                      alt="cs"
                    />
                    <div class="content__grid-item-description">
                      <div class="content__grid-item-description-left">
                        <h3>${gameName}</h3>
                        <span>${gameDescription}</span>
                      </div>
                      <div class="content__grid-item-description-right">
                        <h3>${userName}</h3>
                        <span>${userReview}</span>
                      </div>
                    </div>
                  </li>
                </ul>
            </section>

            <section class="pagination">
                <div class="pagination__list">
                  <ul>
                    <li class="pagination__list-btn "><button><img src="../../Assets/icons/arrowLeft.svg" alt="" /></button></li>
                    <li class="pagination__list-btn pagination__list-btn--active"><button>1</button></li>
                    <li class="pagination__list-btn"><button>2</button></li>
                    <li class="pagination__list-btn"><button><img src="../../Assets/icons/num.svg" alt=""></button></li>
                    <li class="pagination__list-btn"><button>9</button></li>
                    <li class="pagination__list-btn"><button>10</button></li>
                    <li class="pagination__list-btn"><button><img src="../../Assets/icons/arrowRight.svg" alt=""></button></li>
                  </ul>
                </div>
              </section>
          </main>
          
          <footer class="footer">
            <div class="footer__wrap">
              <div class="footer__headline">
                <h3>Explore product in new way</h3>
                <p>
                  We specialize in creating visual identities for products and
                  branda in your company.
                </p>
              </div>
              <div class="footer__search">
                <input class="footer__search__enter-box" type="email" placeholder="Your Email"/>
                <button class="footer__search__btn" type="submit"> Start </button>
              </div>
            </div>
          </footer>
    </div>

    <script src="./script.js"></script>
    <script type="module" src="../../scripts/categorySelect.js"></script>
    <script type="module" src="../../scripts/footerSearch.js"></script>
    <script type="module" src="../../scripts/signIn.js"></script>
    <script type="module" src="../../scripts/dialogSignInDatas.js"></script>
    <script type="module" src="../../scripts/addNewCard.js"></script>
    <script type="module" src="../../scripts/dialogAddNewCard.js"></script>
</body>
</html>

<style>
  *, *::after, *::before {
  box-sizing: border-box;
}
body{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  padding: 0;
  background: linear-gradient(180deg, #010208 16.39%, #010206 20.51%, #040008 24.79%, #010101 30.46%, #010101 34.11%, #010101 36.21%, #010101 100%);
}
</style>