<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="reset.css">
    <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
</head>
<body>
    <div class="container">
      <div class="header__radius"></div>
      <header class="header">
        <a href="../../../index.html"><img class="header__logo" src="../../Assets/icons/logo.svg" alt="logo"/></a>
        <div class="header__nav">
          <div class="header__nav-wrap">
            <ul class="header__links">
              <li class="header__link"><a href="../../../index.html">Home</a></li>
              <li class="header__link"><a href="./index.html">Games</a></li>
              <li class="header__link"><a href="./Users Page/Users.html">Users</a></li>
            </ul>
          </div>  
          <div class="header__nav-wrap-btn">
            <button class="header__nav-btn" type="submit">Sign In</button>
            <div class="authed__header">
              <button class="authed__header__nav-btn">
                <img
                src="../../Assets/icons/user-icon.svg"
                alt="user-icon"
              />
              </button>
                <div class="authed__header__nav-menu-wrap hidden">
                  <button class="authed__header__nav-menu-btn"><p>My Profile</p></button>
                  <button class="authed__header__nav-menu-btn log-out-btn"><p>Log Out</p></button>
                  <div class="authed__header__nav-arrow"></div>
              </div>
            </div>
          </div>
        </div>
        <div class="header__nav-mobile">
          <ul class="header__links">
            <li class="header__link"><a href="../../../index.html">Home</a></li>
            <li class="header__link"><a href="./index.html">Games</a></li>
            <li class="header__link"><a href="./Users Page/Users.html">Users</a></li>
            <li> <button class="header__nav-btn" type="submit">Sign In</button></li>
          </ul>
        </div> 
        <button onclick="toggleNavigBtn()" class="header__nav-small"></button>
        <div class="background-blur hidden-background-blur"></div>
        <div class="sign-in modal hidden">
          <div class="sign-in__wrap">
            <div class="sign-in__headline">
              <h3>Authorization</h3>
            </div>
            <div class="sign-in__inputs">
              <form class="sign-in__inputs-form">
                <input id="sign-in-email" class="sign-in__form-inpt" type="email" placeholder="Email" />
                <input id="sign-in-password" class="sign-in__form-inpt" type="password" placeholder="Password" />
            </form>
            <button type="submit" class="sign-in__form-btn">Sign In</button>
            </div>
          </div>
        </div>
      </header>
          <main>
            <section class="filter">
                <div class="filter__wrap">
                  <div class="filter__logo-wrap">
                    <div class="filter__logo">
                      <h3>VR Games</h3>
                    </div>
                  </div>
                  <div class="filter__search">
                    <button class="filter__search-btn" type="submit">Add new card</button>
                    <div class="filter__search-box">
                      <select id="select" class="filter__search-box-view">
                        <option value="default" Selected disabled class="filter__search-option">Sort By Date</option>
                        <option value="new-first" class="filter__search-option">New first</option>
                        <option value="new-second" class="filter__search-option">New second</option>
                      </select>
                      <span class="filter__search-box-arrow"></span>
                    </div>
                    <button type="submit" class="reset-button"><img class="reset-btn" src="../../Assets/images/reset.png" alt="reset"></button>
                  </div>
                </div>
                <div class="background-blur hidden-background-blur"></div>
                <div class="adding modal hidden">
                  <div class="adding__wrap">
                    <div class="adding__headline">
                      <h3>Add New Game</h3>
                    </div>
                    <div class="adding__inputs">
                      <form action="">
                        <input id="adding-name" class="adding__form-inpt" type="text" , placeholder="Game name" />
                        <input id="adding-description" class="adding__form-inpt" type="text" , placeholder="Game description" />
                        <input id="adding-review" class="adding__form-inpt" type="text" , placeholder="Game review" />
                        <input id="adding-image" class="adding__form-inpt" type="text" , placeholder="Game image" />
                    </form>
                    <button type="submit" class="adding__form-btn">Add New Game</button>
                    </div>
                  </div>
                </div>
            </section>

            <section class="content">
                <div class="content__radius-left"></div>
                <div class="content__radius-right"></div>
                <ul class="content__grid__list"></ul>
            </section>

            <section class="pagination">
                <div class="pagination__list">
                  <ul>
                    <li data-page="min" class="pagination__list-btn">
                      <button>
                        <img src="../../Assets/icons/arrowLeft.svg" alt="" />
                      </button></li>
                    <li data-page="1" class="pagination__list-btn pagination__list-btn--active">
                      <button>1</button>
                    </li>
                    <li data-page="2" class="pagination__list-btn">
                      <button>2</button>
                    </li>
                    <li data-page="mid" class="pagination__list-btn">
                      <button>
                        <img src="../../Assets/icons/num.svg" alt="">
                      </button>
                    </li>
                    <li data-page="9" class="pagination__list-btn">
                      <button>9</button>
                    </li>
                    <li data-page="10" class="pagination__list-btn">
                      <button>10</button>
                    </li>
                    <li data-page="max" class="pagination__list-btn">
                      <button>
                        <img src="../../Assets/icons/arrowRight.svg" alt="">
                      </button>
                    </li>
                  </ul>
                </div>
              </section>
          </main>
          
          <footer class="footer">
            <div class="footer__wrap">
              <div class="footer__headline">
                <h3>Explore product in new way</h3>
                <p>
                  We specialize in creating visual identities for products and
                  branda in your company.
                </p>
              </div>
              <div class="footer__search">
                <input class="footer__search__enter-box" type="email" placeholder="Your Email"/>
                <button class="footer__search__btn" type="submit"> Start </button>
              </div>
            </div>
          </footer>
    </div>

    <script src="./script.js"></script>
    <script type="module" src="../../scripts/footerSearch.js"></script>
    <script type="module" src="../../scripts/signIn.js"></script>
    <script type="module" src="../../scripts/dialogSignInDatas.js"></script>
    <script type="module" src="../../scripts/addNewCard.js"></script>
    <script type="module" src="../../scripts/dialogAddNewCard.js"></script>
    <script type="module" src="../../scripts/gamesCards.js"></script>
    <script type="module" src="../../scripts/paginationList.js"></script>
    <script type="module" src="../../scripts/authedHeader.js"></script>
    <script type="module" src="../../mocks/cards.js"></script>
    <script type="module" src="../../scripts/cardsDialog.js"></script>
    <script type="module" src="../../scripts/headerSticky.js"></script>
</body>
</html>