*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  padding: 0;
  background: rgba(14, 14, 14, 1);
}

:root {
  --perfect-white: #fff;
}

.container {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  height: 100vh;
  max-width: 1312px;
  padding-bottom: 24px;
  padding-left: 16px;
  padding-right: 16px;
  font-family: "Poppins";
  font-style: normal;
}

/* modal */

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 100;
}

/* sign in */

.sign-in {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  padding: 16px;
  width: 100%;
  max-width: 560px;
  background: #0e0e0e;
  border-radius: 6px;
  gap: 14px;
}

.sign-in__wrap {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 560px;
  gap: 14px;
}

.sign-in__headline {
  width: 100%;
  max-width: 560px;
  height: 64px;
  background: rgba(83, 70, 134, 1);
  border: 0px solid transparent;
  border-radius: 0px 64px 0px 0px;
}

.sign-in__headline h3 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 21px;
  line-height: 32px;
  padding-top: 16px;
  padding-bottom: 16px;
  padding-left: 16px;
  color: #fff;
}

.sign-in__wrap form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 16px;
  width: 100%;
  gap: 16px;
}

.sign-in__inputs {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sign-in__form-inpt {
  padding-top: 18px;
  padding-bottom: 18px;
  padding-left: 32px;
  width: 522px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 27px;
  color: #fff;
  background: #000000;
  border: 2px solid #c8d1e6;
  border-radius: 5px;
}

.sign-in__form-btn {
  display: flex;
  padding: 6px 12px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  color: #fff;
  background: linear-gradient(99.05deg, #bc3cd8 0.07%, #c54b8c 106.32%);
  border-radius: 6px;
  border-color: transparent;
  cursor: pointer;
}

.sign-in__form-btn:hover {
  background: linear-gradient(99.05deg, #d83cd5 0.07%, #c54b4d 106.32%);
}

/* header */

.header {
  position: sticky;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 22px;
  margin-bottom: 32px;
  margin-left: -16px;
  margin-right: -16px;
  padding-left: 16px;
  padding-right: 16px;
  top: 0;
  z-index: 100;
}

.header__radius {
  position: absolute;
  top: -22px;
  width: 572px;
  height: 552px;
  background: url(../../Assets/icons/header-radius.svg) no-repeat;
  overflow: hidden;
  filter: blur(22px);
  z-index: -1;
}

.header__logo {
  width: 114px;
  height: 72px;
  cursor: pointer;
}

.header__nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 32px;
}

.header__nav-mobile {
  display: none;
}

.header__nav-small {
  display: none;
}

.header__links {
  margin: 0;
  display: inline-flex;
  list-style: none;
  gap: 42px;
}

.header__link {
  position: relative;
}

.header__link a {
  list-style: none;
  text-decoration: none;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  color: #ffffff;
}

.header__link:nth-child(2) {
  background: linear-gradient(99.05deg, #c80ef1 0.07%, #8e054e 106.32%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.header__link:nth-child(2)::after {
  content: "";
  display: block;
  position: absolute;
  background-color: var(--perfect-white);
  max-width: 10px;
  width: 50%;
  height: 3px;
  left: 40%;
  bottom: -5px;
  border-radius: 3px;
  transition: transform 0.3s ease-in-out;
  transform: scale(1, 1);
}

.header__link a:hover {
  background: linear-gradient(99.05deg, #c80ef1 0.07%, #8e054e 106.32%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.header__link a::after {
  content: "";
  display: block;
  position: absolute;
  background-color: var(--perfect-white);
  max-width: 10px;
  height: 3px;
  left: 40%;
  bottom: -5px;
  border-radius: 3px;
  transition: transform 0.3s ease-in-out;
  transform: scale(0, 1);
}

.header__link a:hover::after {
  width: 50%;
  transform: scale(1, 1);
}

.header__nav-wrap-btn a {
  text-decoration: none;
}

.header__nav-btn {
  display: flex;
  padding: 10px 28px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  color: var(--perfect-white);
  background: linear-gradient(rgba(188, 60, 216, 1), rgba(197, 75, 140, 1));
  border-radius: 4px;
  border: none;
  cursor: pointer;
}

.header__nav-btn:hover {
  background: linear-gradient(rgb(192, 51, 223), rgb(185, 53, 123));
}

.header__nav-btn-mobile {
  display: flex;
  padding: 10px 28px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  color: var(--perfect-white);
  background: linear-gradient(rgba(188, 60, 216, 1), rgba(197, 75, 140, 1));
  border-radius: 4px;
  border: none;
  cursor: pointer;
}

.header__nav-btn-mobile__log-out {
  display: flex;
  padding: 10px 28px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  color: var(--perfect-white);
  background: linear-gradient(rgba(188, 60, 216, 1), rgba(197, 75, 140, 1));
  border-radius: 4px;
  border: none;
  cursor: pointer;
}

/* authed header */

.authed__header {
  display: none;
}

.authed__header__nav-menu-wrap {
  position: absolute;
  display: flex;
  flex-direction: column;
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 150%;
  padding-top: 34px;
  padding-bottom: 16px;
  padding-left: 16px;
  width: 100%;
  max-width: 135px;
  top: 73px;
  right: 0;
  background: #000000;
  border: 1px solid #bc3cd8;
  border-radius: 6px;
  gap: 4px;
  z-index: 10;
}

.authed__header__nav-arrow {
  position: absolute;
  display: block;
  top: 10%;
  right: 10%;
  background: rgba(14, 14, 14, 1);
  height: 5px;
  width: 5px;
  border: 1px solid;
  pointer-events: none;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 5px solid #bc3cd8;
}

.authed__header__nav-btn {
  background: transparent;
  border-color: transparent;
  cursor: pointer;
}

.authed__header__nav-btn-img {
  width: 32px;
}

.authed__header__nav-menu-btn {
  text-decoration: none;
  padding: 0;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.022em;
  color: #f2f2f2;
  background: transparent;
  border-color: transparent;
}

.authed__header__nav-menu-btn:hover {
  font-weight: 800;
  cursor: pointer;
}

.authed__header__nav-menu-wrap p {
  display: flex;
  align-items: flex-start;
  transition: transform 0.5s;
}

.authed__header__nav-menu-wrap p:hover {
  transform: translateX(5px);
}

.authed__header__nav-menu-wrap a {
  display: flex;
  align-items: flex-start;
  color: #f2f2f2;
  transition: transform 0.5s;
}

.authed__header__nav-menu-wrap a:hover {
  transform: translateX(5px);
}

/* filter */

.filter__wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.filter__logo h3 {
  font-weight: 900;
  font-size: 18px;
  line-height: 27px;
  color: #ffffff;
  max-width: 96px;
}

.filter__logo-mobile h3 {
  display: none;
  font-weight: 900;
  font-size: 14px;
  line-height: 27px;
  color: #fff;
}

.filter__search {
  display: flex;
  align-items: center;
  gap: 20px;
}

.filter__search-btn {
  display: flex;
  padding: 6px 12px;
  width: 100%;
  height: 100%;
  max-width: 150px;
  max-height: 36px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  color: #fff;
  background: linear-gradient(99.05deg, #bc3cd8 0.07%, #c54b8c 106.32%);
  border-radius: 6px;
  border: none;
  cursor: pointer;
}

.filter__search-btn:hover {
  background: linear-gradient(rgb(192, 51, 223), rgb(185, 53, 123));
}

.filter__search select {
  display: flex;
  align-items: center;
  width: 160px;
  height: 36px;
  padding-left: 9px;
  appearance: none;
  outline: 0;
  border: 1px solid #bc3cd8;
  border-radius: 6px;
  background: #0e0e0e;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 143%;
  letter-spacing: 0.018em;
  color: #ffffff;
  cursor: pointer;
}

.filter__search-box {
  position: relative;
}

.filter__search-box-arrow {
  position: absolute;
  display: block;
  top: 18px;
  right: 16px;
  background: #0e0e0e;
  max-width: 5px;
  max-height: 10px;
  border: 1px solid;
  border-radius: 4px;
  pointer-events: none;
}

.filter__search-box-arrow::before,
.filter__search-box-arrow::after {
  position: absolute;
  content: "";
  width: 0;
  height: 0;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.filter__search-box-arrow::before {
  border-top: 5px solid #bc3cd8;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
}

.reset-button {
  display: none;
  height: 34px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #fff;
  background: rgba(14, 14, 14, 1);
  border-radius: 6px;
  border: none;
  cursor: pointer;
}

.reset-btn{
  max-width: 20px;
}

.filter__search-option {
  display: flex;
  align-items: center;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 143%;
  letter-spacing: 0.018em;
  color: #ffffff;
  background: rgba(1, 2, 8, 1);
  cursor: pointer;
  box-shadow: 1px 1px 1px grey;
  outline: 0;
}

/* adding */

.adding {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  padding: 16px;
  width: 100%;
  max-width: 560px;
  background: #0e0e0e;
  border-radius: 6px;
  gap: 14px;
}

.adding__wrap {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 560px;
  gap: 14px;
}

.adding__headline {
  width: 100%;
  max-width: 560px;
  height: 64px;
  background: rgba(83, 70, 134, 1);
  border: 0px solid transparent;
  border-radius: 0px 64px 0px 0px;
}

.adding__headline h3 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 21px;
  line-height: 32px;
  padding-top: 16px;
  padding-bottom: 16px;
  padding-left: 16px;
  color: #fff;
}

.adding__wrap form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 16px;
  width: 100%;
  gap: 16px;
}

.adding__inputs {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.adding__form-inpt {
  padding-top: 18px;
  padding-bottom: 18px;
  padding-left: 32px;
  width: 528px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 27px;
  color: #fff;
  background: #000000;
  border: 2px solid #c8d1e6;
  border-radius: 5px;
}

.adding__form-btn {
  display: flex;
  padding: 6px 12px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  color: #fff;
  background: linear-gradient(99.05deg, #bc3cd8 0.07%, #c54b8c 106.32%);
  border-radius: 6px;
  border-color: transparent;
  cursor: pointer;
}

.adding__form-btn:hover {
  background: linear-gradient(99.05deg, #d83cd5 0.07%, #c54b4d 106.32%);
}

/* content */

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 25px;
}

.content__radius-left {
  position: absolute;
  top: 150px;
  left: 0;
  width: 34px;
  height: 645px;
  background: url(../../Assets/icons/Games/games-left-radius.svg) no-repeat;
  filter: blur(14px);
  z-index: -1;
}

.content__radius-right {
  position: absolute;
  top: 150px;
  right: 0;
  width: 34px;
  height: 645px;
  background: url(../../Assets/icons/Games/games-right-radius.svg) no-repeat;
  filter: blur(14px);
  z-index: -1;
}

.content__grid {
  display: flex;
  flex-wrap: wrap;
  column-gap: 40px;
  row-gap: 28px;
}

.content__grid-item {
  position: relative;
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  width: 100%;
  max-width: 290px;
}

.content__grid-item-img {
  position: relative;
  border-radius: 8px;
  cursor: pointer;
}

.resize-photo {
  width: 290px;
  height: 200px;
  object-fit: contain;
}

.content__grid-item-description {
  position: absolute;
  display: flex;
  justify-content: space-between;
  padding: 6px 8px;
  width: 100%;
  height: 100%;
  max-height: 64px;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), rgba(170, 20, 240, 0.75);
  border-radius: 0px 0px 8px 8px;
  backdrop-filter: blur(55px);
  opacity: 90%;
  gap: 17px;
}

.content__grid-item-description-left {
  align-self: center;
  max-width: 92px;
  overflow: hidden;
  height: -webkit-fill-available;
  gap: 6px;
}

.content__grid-item-description-right {
  align-self: center;
  max-width: 92px;
  overflow: hidden;
  height: -webkit-fill-available;
  gap: 6px;
}

.content__grid-item-description-left h3 {
  font-weight: 600;
  font-size: 12px;
  line-height: 18px;
  text-decoration-line: underline;
  color: #ffffff;
}

.content__grid-item-description-left span {
  width: 100%;
  max-width: 94px;
  font-weight: 700;
  font-size: 12px;
  line-height: 18px;
  line-height: 9px;
  letter-spacing: -0.02em;
  text-decoration-line: underline;
  color: #ffffff;
}

.content__grid-item-description-right h3 {
  font-weight: 600;
  font-size: 12px;
  line-height: 18px;
  text-decoration-line: underline;
  color: #ffffff;
}

.content__grid-item-description-right span {
  width: 100%;
  max-width: 94px;
  font-weight: 600;
  font-size: 12px;
  line-height: 18px;
  letter-spacing: -0.02em;
  text-decoration-line: underline;
  color: #ffffff;
}

/* content empty games */

.content__empty-games {
  display: flex;
}

.content__empty-games-wrap {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.content__empty-games-wrap h1 {
  font-weight: 900;
  font-size: 72px;
  line-height: 64px;
  text-align: center;
  color: #ffffff;
}

.content__empty-games-wrap p {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 64px;
  text-align: center;
  color: #fff;
}

.content__empty-games__sign-in-btn {
  font-weight: 400;
  font-size: 32px;
  line-height: 64px;
  text-align: center;
  text-decoration-line: underline;
  color: #bc3cd8;
  background: transparent;
  cursor: pointer;
}

.content__empty-games__sign-in-btn:hover{
  color: #bc41b8;
}


.content__review-user {
  display: flex;
  gap: 16px;
}

.content__review-user img {
  width: 100%;
  height: 100%;
  max-width: 48px;
  max-height: 48px;
  cursor: pointer;
}

.content__review-name {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 4px;
}

.content__main {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

/* game dialog */

.game-dialog {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  padding: 16px;
  max-width: 688px;
  font-family: "Poppins";
  font-style: normal;
  border-radius: 10px;
  background: rgba(14, 14, 14, 1);
}

.game-dialog__container {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 688px;
  gap: 16px;
}

.game-dialog__radius {
  position: absolute;
  background: url(../../../Assets/icons/game-dialog-radius.svg) no-repeat;
  max-width: 675px;
  height: 651px;
  left: -0.5px;
  top: 231px;
  z-index: -1;
}

.game-dialog__img {
  max-width: 688px;
  height: 534px;
  background: url(../../../Assets/images/game-dialog-photo.png);
  border: 0.5px solid rgba(228, 229, 231, 0.23);
  border-radius: 4px;
  border-color: transparent;
}

.game-dialog__content {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.game-dialog__content h3 {
  font-weight: 600;
  font-size: 21px;
  line-height: 32px;
  /* text-align: center; */
  text-decoration-line: underline;
  color: #ffffff;
  word-wrap: break-word;
}

.game-dialog__content p {
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  color: #ffffff;
  text-decoration-line: underline;
  word-wrap: break-word;
}

.game-dialog__user-review{
  max-width: 552px;
}

/* pagination */

.pagination__list {
  margin-top: 36px;
  margin-bottom: 37px;
}

.pagination__list ul {
  display: flex;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  align-items: center;
  width: 100%;
  height: 100%;
  max-width: 272px;
  max-height: 32px;
  list-style-type: none;
  gap: 8px;
}

.pagination__list-btn button {
  padding: 6px 4px;
  width: 32px;
  height: 32px;
  background: #ffffff;
  /* border: 1px solid #dfe3e8; */
  border-radius: 4px;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  cursor: pointer;
}

.pagination__list-btn:first-child button {
  background: #919eab;
}

.pagination__list-btn:first-child img:hover {
  filter: invert(10%) sepia(99%) saturate(7274%) hue-rotate(261deg)
    brightness(90%) contrast(129%);
}

.pagination__list-btn button:hover{
  color: #BC3CD8;
  border: 1px solid #BC3CD8;
}

.pagination__list-btn img:hover {
  filter: invert(10%) sepia(99%) saturate(7274%) hue-rotate(261deg)
    brightness(90%) contrast(129%);
}

.active{
  color: #BC3CD8;
  border-radius: 6px;
  border: 1px solid #BC3CD8;
}

/* footer */

.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer__radius-left {
  position: absolute;
  width: 367px;
  height: 225px;
  left: 0;
  top: 1536px;
  background: url(../../Assets/icons/footer__radius-left.svg) no-repeat;
  z-index: -1;
}

.footer__wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  background-image: url(../../Assets/images/footer-bgr.png);
  mix-blend-mode: difference;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  mix-blend-mode: difference;
  border-radius: 0px 7px 7px 0px;
  gap: 16px;
}

.footer__headline {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 67px;
}

.footer__headline h3 {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 16px;
  width: 100%;
  max-width: 371px;
  font-weight: 700;
  font-size: 26px;
  line-height: 39px;
  color: #ffffff;
}

.footer__headline p {
  width: 100%;
  max-width: 587px;
  margin-top: 0;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  text-align: center;
  color: rgba(255, 255, 255, 0.85);
}

.footer__search {
  display: flex;
  align-items: center;
  margin-bottom: 68px;
  width: 100%;
  max-width: 252px;
  gap: 12px;
}

.footer__search__enter-box {
  max-width: 175px;
  height: 36px;
  padding-left: 8px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  color: rgba(255, 255, 255, 0.56);
  background: rgba(224, 163, 201, 0.56);
  border-radius: 8px 0px 0px 8px;
  border: none;
}

.footer__search__enter-box::placeholder {
  color: rgba(255, 255, 255, 0.56);
}

.footer__search__btn {
  width: 100%;
  max-width: 65px;
  height: 36px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  color: #f4f9fe;
  padding: 6px 12px;
  text-align: center;
  background: linear-gradient(
    99.99deg,
    #b936f5 -21.45%,
    #c64c85 100%,
    #f1005b 100%
  );
  border-radius: 0px 8px 8px 0px;
  border: 0px solid transparent;
  cursor: pointer;
  color: var(--perfect-white);
}

.footer__search__btn:hover {
  background: linear-gradient(rgb(192, 51, 223), rgb(185, 53, 123));
}

/* etc */

.background-blur {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(95, 95, 95, 0.6);
  backdrop-filter: blur(2px);
  z-index: 50;
}

.hidden-background-blur {
  display: none;
}

.hidden {
  display: none;
}

.background-transparent {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: transparent;
  z-index: 50;
}

@media (max-width: 1311px) {
  .content__grid {
    max-width: 950px;
  }
}

@media (max-width: 1200px) {
  .content__grid {
    max-width: 620px;
  }

  /* game dialog */

  .game-dialog {
    max-width: 451px;
  }

  .game-dialog__img {
    height: 100%;
    height: 260px;
    background: url(../../../Assets/images/games/game-dialog-photo451.png)
      no-repeat;
  }

  .game-dialog__content h3 {
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
  }

  .game-dialog__content p {
    font-weight: 600;
    font-size: 14px;
    line-height: 21px;
  }
}

@media (max-width: 921px) {
  .content__grid {
    max-width: 290px;
  }
  /* header */

  .header {
    margin-bottom: 23px;
  }

  .header__logo {
    max-width: 114px;
    max-height: 72px;
    font-size: 17px;
    cursor: pointer;
  }

  .header__links {
    margin: 0;
    display: inline-flex;
    list-style: none;
    gap: 36px;
  }

  .header__link a {
    font-size: 15px;
  }

  .header__nav {
    gap: 30px;
  }

  .header__nav-btn {
    padding: 8px 26px;
    font-size: 15px;
  }

  /* sign in */

  .sign-in {
    max-width: 408px;
  }

  .sign-in__wrap {
    gap: 14px;
  }

  .sign-in__wrap form {
    margin-bottom: 16px;
    gap: 16px;
  }

  .sign-in__headline h3 {
    padding-top: 16px;
    padding-bottom: 16px;
    padding-left: 16px;
    font-weight: 600;
    font-size: 18px;
    line-height: 27px;
  }

  .sign-in__form-inpt {
    width: 372px;
    height: 31px;
    padding-top: 18px;
    padding-bottom: 18px;
    font-size: 17px;
  }

  .sign-in__form-btn {
    padding: 6px 12px;
    font-weight: 700;
    font-size: 13px;
    line-height: 21px;
    width: 100%;
    max-width: 71px;
    max-height: 36px;
  }

  /* filter */

  .filter__search-btn {
    padding: 5px 11px;
    font-size: 15px;
  }

  .filter__search {
    gap: 18px;
  }

  .filter__search select {
    width: 140px;
    height: 34px;
    font-size: 13px;
  }

  /* adding */

  .adding {
    max-width: 408px;
  }

  .adding__wrap {
    gap: 14px;
  }

  .adding__wrap form {
    margin-bottom: 16px;
    gap: 16px;
  }

  .adding__headline h3 {
    padding-top: 16px;
    padding-bottom: 16px;
    padding-left: 16px;
    font-weight: 600;
    font-size: 18px;
    line-height: 27px;
  }

  .adding__form-inpt {
    width: 372px;
    height: 31px;
    padding-top: 18px;
    padding-bottom: 18px;
    font-size: 17px;
  }

  .adding__form-btn {
    padding: 6px 12px;
    font-weight: 700;
    font-size: 13px;
    line-height: 21px;
    width: 100%;
    max-width: 135px;
    max-height: 36px;
  }

  /* content */

  .content__grid-item-description-left h3 {
    font-size: 12px;
  }

  .content__grid-item-description-left span {
    font-size: 11px;
  }

  .content__grid-item-description-right h3 {
    font-size: 11px;
  }

  .content__grid-item-description-right span {
    font-size: 11px;
  }

  /* game dialog */

  .game-dialog {
    max-width: 451px;
  }

  .game-dialog__img {
    height: 100%;
    height: 260px;
    background: url(../../../Assets/images/games/game-dialog-photo451.png)
      no-repeat;
  }

  .game-dialog__content h3 {
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
  }

  .game-dialog__content p {
    font-weight: 600;
    font-size: 14px;
    line-height: 21px;
  }

  /* pagination */

  .pagination__list ul {
    justify-content: center;
    gap: 5px;
    max-width: 290px;
  }

  .footer__headline h3 {
    font-size: 25px;
  }

  .footer__headline {
    margin-top: 46px;
  }

  .footer__headline p {
    font-size: 13px;
  }

  .footer__search {
    margin-bottom: 46px;
  }

  .footer__search__enter-box {
    height: 34px;
    font-size: 13px;
  }

  .footer__search__btn {
    height: 34px;
    font-size: 13px;
  }
}

@media (max-width: 766px) {
  .container {
    padding: 0 12px;
  }

  .header {
    margin-top: 12px;
  }

  .header__radius {
    left: -229px;
  }

  /* filter */

  .filter__logo h3 {
    font-size: 17px;
  }

  .filter__search {
    gap: 14px;
  }

  .filter__search-btn {
    padding: 4px 10px;
    font-size: 13px;
  }

  .filter__search select {
    width: 130px;
    font: 12px;
  }

  /* .filter__search-box-arrow {

  } */

  /* content */

  .content {
    margin-top: 20px;
    padding-top: 0;
  }

  .content__grid {
    /* max-width: 290px; */
    row-gap: 20px;
  }

  .content__grid-item-description-left h3 {
    font-size: 12px;
  }

  .content__grid-item-description-left span {
    font-size: 11px;
  }

  .content__grid-item-description-right h3 {
    font-size: 11px;
  }

  .content__grid-item-description-right span {
    font-size: 11px;
  }

  .content__grid-item-img {
    width: 100%;
    max-width: 358px;
  }

  /* game dialog */

  .game-dialog {
    max-width: 451px;
  }

  .game-dialog__img {
    height: 100%;
    height: 260px;
    background: url(../../../Assets/images/games/game-dialog-photo451.png)
      no-repeat;
  }

  .game-dialog__content h3 {
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
  }

  .game-dialog__content p {
    font-weight: 600;
    font-size: 14px;
    line-height: 21px;
  }

  /* pagination */

  .pagination__list {
    margin-top: 30px;
    margin-bottom: 30px;
  }

  .pagination__list ul {
    justify-content: center;
    gap: 5px;
    max-width: 290px;
  }

  .pagination__list-btn button {
  }

  /* footer */

  .footer__headline h3 {
    font-size: 22px;
  }

  .footer__headline {
    margin-top: 15px;
    gap: 6px;
  }

  .footer__headline p {
    font-size: 12px;
    max-width: 369px;
  }

  .footer__search {
    margin-bottom: 15px;
    width: 100%;
    max-width: 222px;
  }

  .footer__search__enter-box {
    height: 32px;
    font-size: 11px;
  }

  .footer__search__btn {
    height: 32px;
    font-size: 11px;
  }
}

@media (max-width: 576px) {
  /* header */

  .header {
    margin-top: 12px;
  }

  .header__radius {
    left: -229px;
  }

  .header__nav {
    display: none;
  }

  /* burger menu active */

  .header__nav-small {
    /* position: relative;  */
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 18px;
    height: 16px;
    border: none;
    padding: 0px;
    background: linear-gradient(
      to bottom,
      white 0,
      white 20%,
      #010208 20%,
      #010208 40%,
      white 40%,
      white 60%,
      #010208 60%,
      #010208 80%,
      white 80%,
      white 100%
    );
    z-index: 10;
    overflow-y: hidden;
  }

  .header__nav-mobile {
    display: none;
    flex-direction: column;
  }

  .header__links {
    position: fixed;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: rgba(16, 16, 16, 0.9);
    gap: 5px;
    z-index: 10;
  }

  .header__links a {
    font-size: 15px;
    line-height: 31px;
  }

  .header__nav-btn {
    width: 100%;
    height: 100%;
    max-height: 31px;
    line-height: 17px;
  }

  .header__link:nth-child(2)::after {
    width: 0;
  }
}

@media (min-width: 390px) and (max-width: 450px) {
  .container {
    padding: 0 12px;
  }

  /* header */

  .header {
    margin-top: 12px;
  }

  .header__radius {
    left: -229px;
  }

  .header__nav {
    display: none;
  }
  /* sign in */

  .sign-in {
    max-width: 348px;
  }

  .sign-in__wrap {
    gap: 14px;
  }

  .sign-in__wrap form {
    margin-bottom: 16px;
    gap: 16px;
  }

  .sign-in__headline h3 {
    padding-top: 16px;
    padding-bottom: 16px;
    padding-left: 16px;
    font-weight: 600;
    font-size: 18px;
    line-height: 27px;
  }

  .sign-in__form-inpt {
    width: 312px;
    height: 31px;
    padding-top: 18px;
    padding-bottom: 18px;
  }

  .sign-in__form-btn {
    padding: 6px 12px;
    font-weight: 700;
    font-size: 13px;
    line-height: 21px;
    width: 100%;
    max-width: 71px;
    max-height: 33px;
  }

  /* filter */

  .filter__wrap {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
  }

  .filter__logo h3 {
    width: 100%;
  }

  .filter__search {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }

  .filter__search select {
    padding-left: 20px;
    width: 148px;
    height: 36px;
    font-weight: 500;
    font-size: 14px;
    line-height: 21px;
  }

  .filter__logo-mobile h3 {
    max-width: 115px;
    line-height: 18px;
  }

  .filter__search-btn {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    max-width: 158px;
    max-height: 36px;
    padding: 6px 16px;
    align-content: center;
  }

  /* adding */

  .adding {
    max-width: 348px;
  }

  .adding__wrap {
    gap: 14px;
  }

  .adding__wrap form {
    margin-bottom: 16px;
    gap: 16px;
  }

  .adding__headline h3 {
    padding-top: 16px;
    padding-bottom: 16px;
    padding-left: 16px;
    font-weight: 600;
    font-size: 18px;
    line-height: 27px;
  }

  .adding__form-inpt {
    width: 312px;
    height: 31px;
    padding-top: 18px;
    padding-bottom: 18px;
  }

  .adding__form-btn {
    padding: 6px 12px;
    font-weight: 700;
    font-size: 13px;
    line-height: 21px;
    width: 100%;
    max-width: 135px;
    max-height: 33px;
  }

  /* content */

  .content {
    margin-top: 24px;
  }

  .content__grid {
    width: 100%;
    max-width: 366px;
    gap: 16px;
  }

  .content__grid-item {
    max-width: 366px;
    border: 0.5px solid rgba(228, 229, 231, 0.23);
    border-radius: 8px;
  }

  .content__radius-left {
    display: none;
  }

  .content__radius-right {
    display: none;
  }

  .content__grid-item-img {
    width: 100%;
    max-width: 366px;
    max-height: 200px;
  }

  .content__grid-item-description {
    justify-content: flex-start;
    max-width: 366px;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
      rgba(170, 20, 240, 0.75);
    border-radius: 0px 0px 8px 8px;
    gap: 16px;
  }

  .content__grid-item-description-left h3 {
    font-weight: 600;
    font-size: 12px;
    line-height: 18px;
  }

  .content__grid-item-description-left span {
    font-size: 12px;
    color: #ffffff;
  }

  .content__grid-item-description-right h3 {
    font-size: 12px;
  }

  .content__grid-item-description-right span {
    font-size: 12px;
    color: #ffffff;
  }

  .game-dialog {
    max-width: 348px;
  }

  .game-dialog__img {
    height: 100%;
    height: 260px;
    background: url(../../../Assets/images/games/game-dialog-mobile-png.png)
      no-repeat;
  }

  .game-dialog__content h3 {
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
  }

  .game-dialog__content p {
    font-weight: 600;
    font-size: 14px;
    line-height: 21px;
  }

  /* pagination */

  .pagination__list {
    margin-top: 24px;
    margin-bottom: 21px;
  }

  .pagination__list-btn button {
    width: 32px;
    height: 32px;
  }

  .pagination__list ul {
    max-width: 247px;
    gap: 4px;
  }

  /* footer */

  .footer__radius-left {
    display: none;
  }

  .footer__wrap {
    padding-top: 10px;
    padding-bottom: 10px;
    background-image: url(../../Assets/icons/footer-mobile.svg);
    mix-blend-mode: difference;
    border-radius: 8px;
    gap: 10px;
  }

  .footer__headline {
    width: 100%;
    margin-top: 10px;
  }

  .footer__headline h3 {
    font-weight: 700;
    font-size: 18px;
    line-height: 27px;
  }

  .footer__headline p {
    font-weight: 400;
    font-size: 10px;
    line-height: 11px;
    color: rgba(255, 255, 255, 0.85);
    max-width: 253px;
  }

  .footer__search {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
    gap: 12px;
  }

  .footer__search__enter-box {
    display: flex;
    padding: 16.5px 8px;
    width: 100%;
    max-width: 175px;
    max-height: 33px;
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    color: rgba(255, 255, 255, 0.56);
    background: rgba(224, 163, 201, 0.56);
    box-shadow: inset 0px -9.72759px 16.2127px rgba(255, 255, 255, 0.03);
    backdrop-filter: blur(6.07974px);
    border-radius: 8px 0px 0px 8px;
  }

  .footer__search__btn {
    display: flex;
    width: 100%;
    height: 100%;
    max-width: 60px;
    max-height: 33px;
    padding: 6px 12px;
    font-weight: 700;
    font-size: 14px;
    line-height: 21px;
    color: #f4f9fe;
    background: linear-gradient(
      99.99deg,
      #b936f5 -21.45%,
      #c64c85 100%,
      #f1005b 100%
    );
    border-radius: 0px 8px 8px 0px;
  }

  .footer__headline p {
    width: 100%;
    max-width: 253px;
  }
}
