<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="../../../Assets/styles/reset.css">
    <link href="https://fonts.googleapis.com/css2?family=Inter&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Orbitron&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="values.css" />
  </head>
  <body>
    <section class="values">
      <div class="values__wrap">
        <div class="values__left">
          <h3>
            Our company values culture
          </h3>
            <!-- <img src="./SRC/Assets/icons/hearts.svg" alt="hearts" /> -->
          <p class="values__left-paragraph">
            We specialize in creating visual identities for products and branda in
            your company.
          </p>
        </div>
    
        <div class="values__right">
          <div class="values__right-benefits">
            <img src="./SRC/Assets/icons/victoryHand.svg" alt="vctrHand" />
            <p>Be Sincere</p>
    
            <img src="./SRC/Assets/icons/stronger.svg" alt="strngr" />
            <p>Stronger together</p>
          </div>
    
          <div class="values__right-benefits">
            <img src="./SRC/Assets/icons/lightBulbe.svg" alt="lghtBulbe" />
            <p>Take intelligent risks</p>
    
            <img src="./SRC/Assets/icons/ok.svg" alt="ok" />
            <p>Keep it simple</p>
          </div>
        </div>
      </div>
    </section>
  </body>
</html>
