<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="../../../Assets/styles/reset.css" />
    <link rel="stylesheet" href="hero.css" />
    <link
      href="https://fonts.googleapis.com/css2?family=Orbitron&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <section class="hero">
      <div class="hero__radius-left"></div>
      <div class="hero__radius-right"></div>
      <div class="hero__left">
        <h5 class="hero_left-headline">
          Let’s Explore Three-Dimensional visual
        </h5>
        <p class="hero_left-paragraph">
          With virtual technology you can see the digital world feel more real
          and you can play the game with a new style.
        </p>
        <ul class="hero__left-btns">
          <li>
            <button class="hero__left-btn" type="submit">Invite Friends</button>
          </li>
          <li>
            <a class="hero__left-text" class="expLink" href="#"
              >Explore Device</a
            >
          </li>
        </ul>
        <div class="hero__left-people">
          <ul class="hero__left-icons">
            <li>
              <img
                class="hero__left-icon"
                src="./SRC/Assets/icons/userOnline1.svg"
                alt="usr1"
              />
            </li>
            <li>
              <img
                class="hero__left-icon"
                src="./SRC/Assets/icons/userOnline2.svg"
                alt="usr2"
              />
            </li>
            <li>
              <img
                class="hero__left-icon"
                src="./SRC/Assets/icons/userOnline3.svg"
                alt="usr3"
              />
            </li>
            <li>
              <img
                class="hero__left-icon"
                src="./SRC/Assets/icons/userOnline4.svg"
                alt="usr4"
              />
            </li>
          </ul>
          <div class="hero__left-dot"></div>
          <p class="hero__left-online">400k People online</p>
        </div>
      </div>

      <div class="hero__right">
        <div class="hero__right-content">
          <h3 class="hero__right-headline">Cinematic Virtual Reality</h3>
          <div class="hero__right-line"></div>
          <p class="hero__right-paragraph">
            Let’s be the best for more real and effective results and ready to
            explore the limitless world that we have prepared for you.
          </p>
        </div>
      </div>
    
  </section>
  </body>
    
</html>
