<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="../../../Assets/styles/reset.css" />
    <link rel="stylesheet" href="experience.css" />
  </head>
  <body>
    <section class="experience">
      <div class="experience__photos">
        <img
          class="experience__photo1"
          src="./SRC/Assets/icons/maskGirl.svg"
          alt="MskGrl"
        />
        <img
          class="experience__photo2"
          src="./SRC/Assets/icons/maskMan.svg"
          alt="MskMan"
        />
      </div>

      <div class="experience__content">
        <h3 class="experience__content-headline">
          New Experience In Playing Game
        </h3>
        <p class="experience__content-paragraph">
          You can try playing the game with a new style and of course a more
          real feel, like you are the main character in your game and adventure
          in this new digital world.
        </p>
        <button type="submit" class="experience__content-btn">
          Get in Now
        </button>
      </div>
    </section>
  </body>
</html>
