@import url("https://fonts.googleapis.com/css2?family=IM+Fell+Great+Primer+SC&family=Montserrat&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");

.header {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-bottom: 32px;
  padding-top: 22px;
  /* background: #1e1e1e;  */
}

.header__radius {
  position: absolute;
  top: 0;
  width: 572px;
  height: 552px;
  background: url(../../Assets/icons/header-radius.svg) no-repeat;
}

.header__logo {
  cursor: pointer;
}

.header__nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
}

.header__links {
  margin: 0;
  display: inline-flex;
  list-style: none;
  gap: 36px;
}

.header__link {
  position: relative;
}

.header__link a {
  list-style: none;
  text-decoration: none;
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 12.5098px;
  line-height: 15px;
  color: #fff;
}

.header__link a:hover {
  background: linear-gradient(99.05deg, #c80ef1 0.07%, #8e054e 106.32%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.header__link a::after {
  content: "";
  display: block;
  position: absolute;
  background-color: #fff;
  max-width: 10px;
  height: 3px;
  left: 40%;
  bottom: -5px;
  border-radius: 3px;
  transition: transform 0.3s ease-in-out;
  transform: scale(0, 1);
}

.header__link a:hover::after {
  width: 50%;
  transform: scale(1, 1);
}

.header__nav-btn {
  display: flex;
  padding: 10px 27px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 11.0622px;
  line-height: 13px;
  color: #fff;
  background: linear-gradient(rgba(188, 60, 216, 1), rgba(197, 75, 140, 1));
  border-radius: 4px;
  border: none;
  cursor: pointer;
}

.header__nav-btn:hover {
  background: linear-gradient(rgb(192, 51, 223), rgb(185, 53, 123));
}
