<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="../../../Assets/styles/reset.css" />
    <link rel="stylesheet" href="comments.css" />
    <link
      href="https://fonts.googleapis.com/css2?family=Orbitron&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter&family=Orbitron&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter&family=Montserrat&family=Orbitron&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <section class="comments">
      <div class="comments__radius-center"></div>
      <div class="comments__radius-left"></div>
      <div class="comments__wrap">
        <div class="comments__headline">
          <h3 class="comments__headline-head">What our clients say</h3>
          <p class="comments__headline-content">
            See what our customer say about us. It really matter for us. How good
            or badwe will make ir for evaluation to make EhyalLive better.
          </p>
        </div>
        <div class="comments__stars">
          <ul class="comments__stars-list">
            <li class="comments__stars-item">
              <h3 class="comments__stars-item-headline">
                <span>Star</span> star
              </h3>
              <p class="comments__stars-item-par">
                “I know in real-time where the money is spent,and I don’t have to
                lend out the company’s credit card anymore. What a relief!”
              </p>
              <div class="comments__stars-item-names">
                <img src="./SRC/Assets/icons/star1.svg" alt="str1" />
                <div>
                  <p>Denny Hilguston</p>
                  <a>@denny.hill</a>
                </div>
              </div>
            </li>
  
            <li class="comments__stars-item">
              <h3 class="comments__stars-item-headline">
                <span>Star</span> star
              </h3>
              <p class="comments__stars-item-par">
                “I know in real-time where the money is spent,and I don’t have to
                lend out the company’s credit card anymore. What a relief!”
              </p>
              <div class="comments__stars-item-names">
                <img src="./SRC/Assets/icons/star2.svg" alt="str2" />
                <div>
                  <p>Denny Hilguston</p>
                  <a>@denny.hill</a>
                </div>
              </div>
            </li>
  
            <li class="comments__stars-item">
              <h3 class="comments__stars-item-headline">
                <span>Star</span> star
              </h3>
              <p class="comments__stars-item-par">
                “I know in real-time where the money is spent,and I don’t have to
                lend out the company’s credit card anymore. What a relief!”
              </p>
              <div class="comments__stars-item-names">
                <img src="./SRC/Assets/icons/star3.svg" alt="str3" />
                <div>
                  <p>Denny Hilguston</p>
                  <a>@denny.hill</a>
                </div>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </section>
  </body>
</html>
