<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="footer.css" />
    <link rel="stylesheet" href="../../Assets/styles/reset.css">
    <link href="https://fonts.googleapis.com/css2?family=Orbitron&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Inter&family=Orbitron&display=swap" rel="stylesheet">
  </head>
  <body>
    <footer class="footer">
      <div class="footer__radius-left"></div>
      <div class="footer__wrap">
        <div class="footer__headline">
          <h3>Explore product in new way</h3>
          <p>
            We specialize in creating visual identities for products and branda in
            your company.
          </p>
        </div>
        <div class="footer__search">
          <input class="footer__search__enter-box" type="text" placeholder="Your Email" />
          <button class="footer__search__btn" type="submit"> Start <img class="search__img"src="./src/Assets/icons/arrow.svg" alt="arrow"/></button>
        </div>
      </div>
    </footer>
  </body>
</html>
