<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="Game Dialog.css" />
    <link rel="stylesheet" href="../../../Assets/styles/reset.css" />
    <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
  </head>
  <body>
    <section class="game-dialog">
      <!-- <div class="game-dialog__radius"></div> -->
      <div class="game-dialog__container">
        <div class="game-dialog__img"></div>
        <div class="game-dialog__content">
          <div class="content__main">
            <h3>${gameName}</h3>
            <p>${gameDescription}</p>
          </div>

          <div class="content__review">
            <div class="content__review-user">
              <img src="../../../Assets/icons/DialogUsernameImg.svg" alt="" />
              <div class="content__review-name">
                <p>${userName}</p>
                <h3>${userReview}</h3>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </body>
</html>
