<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="reset.css">
    <link rel="stylesheet" href="Empty Games.css">
    <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
</head>
<body>
    <div class="container">
      <header class="header">
        <div class="header__radius"></div>
        <a href="../../../../index.html"><img class="header__logo" src="../../../Assets/icons/logo.svg" alt="logo"/></a>
        <div class="header__nav">
          <div class="header__nav-wrap">
            <ul class="header__links">
              <li class="header__link"><a href="../../../../index.html">Home</a></li>
              <li class="header__link"><a href="./../index.html">Games</a></li>
              <li class="header__link"><a href="#">Users</a></li>
            </ul>
          </div>  
          <div class="header__nav-wrap-btn">
            <button class="header__nav-btn" onclick="openDialog" type="submit">Sign In</button>
          </div>
        </div>
        <button class="header__nav-small"></button>
      </header>
          <section class="emptyPage">
            <div class="emptyPage__wrap">
              <h1>Empty Games</h1>
              <p><a href="">Sign in</a> for adding games</p>
            </div>
          </section>
          <footer class="footer">
            <div class="footer__wrap">
              <div class="footer__radius"></div>
              <div class="footer__headline">
                <h3>Explore product in new way</h3>
                <p>
                  We specialize in creating visual identities for products and
                  branda in your company.
                </p>
              </div>
              <div class="footer__search">
                <input class="footer__search__enter-box" type="email" placeholder="Your Email"/>
                <button class="footer__search__btn" type="submit"> Start </button>
              </div>
            </div>
          </footer>
    </div>
    
</body>
</html>

<style>
    *, *::after, *::before {
  box-sizing: border-box;
}
body{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  padding: 0;
  background: linear-gradient(180deg, #010208 16.39%, #010206 20.51%, #040008 24.79%, #010101 30.46%, #010101 34.11%, #010101 36.21%, #010101 100%);
}
</style>